<h1>Hello Dear Admin</h1>
<p>On these pages you can manage users accounts, update/delete/add exercises, and make a list of system bugs. Look for
    detailed explanations on each page.</p>
<!-- <p>Here you have the control to manage your account and the page which includes the exercises , users and bugs of the system.</p> -->