<div class="content" [ngStyle]="{'margin': marginTop}">
  <h1>Terms and Conditions</h1>
  <mat-icon class="go-home" (click)="goBack()">close</mat-icon>
  <p>
    By using this site you agree to be legally bound by these terms and conditions.</p>
  <p>If you do not agree to be legally bound by all the following terms you should not access and/or use our website or
    communicate
    in any way with the server hosting this website, please let us know why by sending an email.
  </p>
  <p>Henceforth in this legal declaration, you the website user, or associated parties will be known as either "you" or
    "the
    client". We, Goldstone Fitness Ltd. will be known as "We", "Us" or "Our Company", our general or individual assets
    will
    be addressed by the prefix "Our".</p>
  <p>When such changes are made, you may revoke your agreement by engaging with our company online using this or any
    website,
    or continue to accept such changes.</p>
</div>