<div [ngClass]="coverClasses">
</div>

<div class="wrapper">
  <sh-nav class="nav" [navLinks]="navLinks" [linkColor]="linkColor"></sh-nav>

  <div class="container">

    <router-outlet>
      <!--here come login / sign up components-->
    </router-outlet>

  </div>
</div>