@import "src/app/common";
button {
  $font-family: $primary-font;
  text-align: left;
}
::ng-deep ex-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .instructions {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    .header {
      font-family: $header-font;
      font-size: 20px;
      margin-bottom: 32px;
    }
    .type {
      font-family: $header-font;
      font-size: 16px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      font-weight: 900;
    }
    p,
    ul,
    ol {
      font-family: $dialog-font;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 10px;
    }
    ul li,
    ol li {
      margin-left: 24px;
    }
  }
}
