<h1 mat-dialog-title>{{data.exerciseName}}</h1>
<div mat-dialog-content>
  <mat-card class="material-card">
    <mat-card-header>
      <!-- <mat-card-title>{{data.category}}</mat-card-title> -->
    </mat-card-header>
    <img mat-card-image src="{{data.picture}}" alt="image">
    <mat-card-content>

      <div class="instructions">
        <!-- <div class="header">Description</div> -->
        <div class="type">Category:</div>
        <p>{{data.category}}</p>
        <div class="type">Type:</div>
        <p>{{data.exerciseType}}</p>
        <div class="type">Works on:</div>
        <p>{{data.activityGroup}}</p>

        <div [innerHTML]="data.instructions"></div>
        <div class="type">Common Mistakes:</div>
        <p>{{data.mistakes}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>