<div class="foot" [ngStyle]="{'color': getColor(), 'background-color': getBgColor()}">
  <div class="top-top">
    <div class="top">
      <i *ngFor="let icon of mediaIcons" (click)="goToSpecificUrl(icon.route)" [ngClass]="icon.icon"></i>
    </div>

    <div class="middle">
      <!-- <a *ngFor="let link of links" [routerLink]="link.route"  -->
      <a *ngFor="let link of links" (click)="goToLink(link.route)" [ngStyle]="{'color': getColor()}">{{link.label}}</a>
    </div>
  </div>

  <div class="bottom">
    <p>
      Asaf &amp; Adrian

      &copy;
      <span>2018 Refit Project</span>
    </p>

  </div>


</div>