@import "src/app/common";
:host {
  z-index: 1000; // margin: 50px 0 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
}
.foot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $footer-height;

  .top-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middle {
    display: flex;
    // flex-direction: column;

    align-items: center;
    margin-top: 25px;
    a {
      font-family: $primary-font;
      letter-spacing: 2px;
      padding: 4px 0;
      text-decoration: none;
      transition: 0.4s;
      padding-left: 30px;
      padding-right: 30px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        opacity: 0.7;
      }
      &:not(:last-child) {
        border-right: 1px solid $primary-color;
      }
    }
  }
  .top {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    i:not(:first-of-type) {
      margin-left: 20px;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .bottom {
    width: 100%;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 7px;
    padding-top: 7px;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    p {
      padding: 2px 0;
    }
  }
  @include for-size(phone-only) {
    .top {
      margin-top: 20px;
    }
    .middle {
      flex-direction: column;
      margin-top: 10px;
    
      a {
        padding-left: 0;
        padding-right: 0;
        &:not(:last-child) {
          border-right-color: transparent;
        }
      }
    }
  }
}
