<div class="container">
  <div class="not-active" *ngIf="!activateSession">Please fill your personal details and build your program</div>
  <div class="not-active" *ngIf="activateSession">
    <ng-container>
      <h1>Program Exercises</h1>
        <p>Welcome to your personal program, please be careful on your session, follow the full exercise information, for more info press the <b>"I"</b> button, and remmeber to <b>submit</b> your session every time your finish your full session</p> 
        <p><b>NOW IS TIME TO START !! GOOD LUCK , ENJOY YOUR SESSION AND REMEMBER NO PAIN NO GAIN!!</b></p>
      <!-- info button -->
      <div class="heading">
        <sh-info [message]="info"></sh-info>
      </div>
      <!-- program exercise -->
      <div class="shadow-box exercise-list">
        <div class="title">
          <ng-container *ngFor="let but of butLabels">
            <span>{{but}}</span>
          </ng-container>
        </div>
        <div class="exercise" *ngFor="let ex of this.session">
          <pr-ex class="ex" [exercise]="ex.exercise"></pr-ex>
          <input class="cat" type="text" readonly [value]="ex.categoryGroup">
          <ng-container *ngFor="let but of butLabels; let i = index">
            <input class="buttons" type="number" *ngIf="i > 1 && i < 5" [min]="buttons[i-2].min" [max]="buttons[i-2].max"
              [(ngModel)]="ex[but]" (input)="checkInput($event, i-2)" [matTooltip]="buttons[i-2].tip"
              matTooltipPosition="above">
          </ng-container>
          <input class="buttons" [(ngModel)]="ex['rest']" (click)="goToRest(ex)" matTooltip="press to start rest"
            matTooltipPosition="above">
        </div>
      </div>
    </ng-container>
    <button pButton label="Send Session" (click)="sendSession()"></button>
  </div>
</div>
<div class="clock" *ngIf="clockRestTime.show" (click)="stopClock()">
  {{clockRestTime.time}}
</div>