@import "src/app/common";
:host {
  width: 100%;
}
.container {
  width: 100%;
  max-width: $side-content-max-width;
  margin: 0 auto;
  font-family: $primary-font;
  line-height: 1.5;
  h1 {
    @extend %h1;
  }
  p {
    margin: 0 0 30px;
  }
  .heading {
    display: flex;
    sh-info {
      margin: 0 20px 20px auto;
      @include for-size(phone-only) {
        margin-right: 0;
      }
    }
  }
  .exercise-list {
    .title {
      width: 100%;
      border-bottom: 1px solid $middle-gray;
      margin-bottom: 20px;
      display: flex;
      span {
        display: inline-block;
        width: 152px;
        padding: 16px;
        text-align: center;
        font-family: $primary-font;
        font-size: 17px;
        font-weight: bold;
        &:nth-of-type(2) {
          margin-right: auto;
        }
      }
      @include for-size(phone-only) {
        display: none;
      }
    }
    input {
      width: 120px;
      border: none;
      border-bottom: 1px solid $middle-gray;
      $font-family: $primary-font;
      font-size: 14px;
      text-align: center;
      &:focus {
        border-bottom-color: $primary-color;
        outline-color: transparent;
        // box-shadow: rgb(255, 255, 255) 0px 0px 0px 1000px inset, rgb(75, 191, 105) 0px 0px 3px 0px;
        border-bottom-width: 3px;
      }
      @include for-size(phone-only) {
        width: 100%;
        text-align: left;
        padding-left: 16px;
      }
    }
    .buttons {
      display: inline-block;
      padding: 10px;
      margin: 0 16px;
      cursor: pointer;
    }
    .exercise {
      display: flex;
      @include for-size(phone-only) {
        flex-direction: column;
      }
      .cat {
        margin-right: auto;
        border-bottom: unset;
      }
      pr-ex {
        width: 150px;
      }
      @include for-size(phone-only) {
        margin-bottom: 20px;
      }
    }
  }
}
.clock {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 8em;
  font-family: "courier new", monospace;
  font-weight: 500;
  margin: 0;
  padding: 0;
}