<div class="heading">
  <div class="buttons">

    <sh-fa-input *ngIf="exercises?.length">
      <input inputRef type="text" placeholder="find exercise by name" pattern="^[\w]+$" name="name" [(ngModel)]="filterBy"
        matTooltip="ex: Squat" matTooltipPosition="above" (input)="updateFilter()">
    </sh-fa-input>
  </div>
  <sh-info [message]="info"></sh-info>
</div>
<mat-accordion *ngIf="exercises?.length">
  <!-- filtered exercises -->
  <ng-container *ngIf="filtered.length > 0">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{filterBy}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let ex of filtered" class="container">
        <pr-ex [exercise]="ex"></pr-ex>
        <div class="buttons">
          <sh-lbutton label="Delete" (click)="removeEx(ex)"></sh-lbutton>
          <sh-lbutton label="Edit" (click)="editEx(ex)"></sh-lbutton>
        </div>
      </div>
    </mat-expansion-panel>
  </ng-container>
  <!-- all exercise -->
  <mat-expansion-panel *ngFor="let exs of exercises" (click)="setExpanded(exs)" [expanded]="expanded[exs.category]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{exs.category}}
      </mat-panel-title>
      <!-- <mat-panel-description>
        Category
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div *ngFor="let ex of exs.exercises" class="container">
      <pr-ex [exercise]="ex"></pr-ex>
      <div class="buttons">
        <sh-lbutton label="Delete" (click)="removeEx(ex)"></sh-lbutton>
        <sh-lbutton label="Edit" (click)="editEx(ex)"></sh-lbutton>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>