@import "src/app/common";
:host {
  width: 100%;
  font-family: $primary-font;
  line-height: 1.5;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $side-content-max-width;
  margin: 0 auto;
  p {
    margin-bottom: 10px;
    span {
      font-size: 1.2em;
      font-family: $header-font;
      font-weight: bold;
    }
  }
}