<div class="container">
<!-- Workdays -->
<div class="days" *ngIf="!newUser"><span>Working days for {{traineeName}}</span>
  <sh-days [activeDays]="trainee.workDays" [changable]="false"></sh-days>
</div>
<p class="user">
   Hello <span>{{traineeName}}</span>
</p>
<p>
  Personal Detailse: In this form you will fill your pesonal details
  that will use us to make for you the best personal program
  for your, quick and personalized to improve your self performance.
  At the end of the personal details you will see your summary of status for now,
  about your health condition, strength and program grade(level of your program).
</p>
<p>
  Build Program: Here you will choice the option to build for you a program specialy for you.
</p>
<p>
  Start Session: In this form you will start every session that will be fill by you to
  make a record of every session that you will do, so we will save and compare every session
  and show you in the next form about your progress.
</p>
<p>
  Progress: At this form we are showing to you the progress of the time that you will choose,
  so you can follow about your progress and your way to the goal that you have been choosed at the
  personal details form.
</p>
</div>