@import "src/app/common";
:host {
  padding: 0 15px;
  margin-top: 30px; // box-shadow: $box-shadow;
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.progress-active,
.progress-not-active {
  width: 100%;
}
h1 {
  @extend %h1;
  text-align: center;
  width: 100%;
}
p-chart {
  flex: 1 1 100%;
}
.buttons {
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
  svg {
    width: 60px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      opacity: 0.5;
    }
    .path {
      fill: $middle-gray;
    }
    &.active .path {
      fill: $primary-color;
    }
  }
  button {
    margin-left: auto;
  }
}