<div class="progress-not-active" *ngIf="!activateProgress">Please build your program before you see your progress</div>
<div class="progress-active" *ngIf="activateProgress">
  <h1>Trainee Grade</h1>
  <p-chart #chart [type]="seTtype" [data]="data" [options]="options"></p-chart>
  <div class="buttons">
    <svg class="pie" [ngClass]="{'active': active[0]}" viewBox="0 0 52.97 52.96" (click)="updatePolarArea($event)">
      <g>
        <path class="path" d="M32,29a9,9,0,1,1-9-9h1V6H23A23,23,0,0,0,6.06,44.52h0l.71.7.7.71h0A23,23,0,0,0,46,29V28H32ZM2,29A21,21,0,0,1,22,8V18a11,11,0,0,0-7.45,18l-3.49,3.48-3.6,3.61A20.88,20.88,0,0,1,2,29Zm42,1A21,21,0,0,1,8.87,44.54l3.61-3.6L16,37.45A11,11,0,0,0,34,30Z"
          transform="translate(0.47 0.5)" />
        <path class="path" d="M29,0H28V14h1a9,9,0,0,1,9,9v1H52V23A23,23,0,0,0,29,0ZM40,22a11,11,0,0,0-10-9.95V2A21,21,0,0,1,50,22Z"
          transform="translate(0.47 0.5)" />
      </g>
    </svg>
    <svg class="bar" [ngClass]="{'active': active[1]}" viewBox="0 0 84.51 84.5" (click)="updateBar($event)">
      <title>bar</title>
      <path class="path" d="M1.13,0A1.27,1.27,0,0,0,0,1.27V83.42a1.33,1.33,0,0,0,.1.34A.94.94,0,0,0,.22,84l.06.1h0l.1.06a.9.9,0,0,0,.19.15l.09.07h0l.09.06.25.06a1.4,1.4,0,0,0,.5,0H83.26a1.25,1.25,0,0,0,0-2.5H77.53V40a1.24,1.24,0,0,0-1.23-1.25h-18A1.25,1.25,0,0,0,57,40V82H52.94V24.1a1.25,1.25,0,0,0-1.25-1.25h-18a1.25,1.25,0,0,0-1.25,1.25V82H28.35V10.51A1.25,1.25,0,0,0,27.1,9.27H9a1.24,1.24,0,0,0-1.12,1.25V82H2.5V1.27A1.25,1.25,0,0,0,1.27,0H1.13Zm9.22,11.75h15.5V82H10.35Zm24.59,13.6h15.5V82H34.94ZM59.5,41.27H75V82H59.5Z" />
    </svg>
    <button pButton label="Build Program" (click)="buildProgram()"></button>
  </div>
</div>