<h1 mat-dialog-title>{{data.bugName}}</h1>

<div mat-dialog-content>
  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle>By: {{data.userName}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Owner: {{data.owner}}
      </p>
      <p>
        Priority: {{data.priority}}
      </p>
      <p>
        Status: {{data.status}}
      </p>
      <p>Module: {{data.moduleName}}/{{data.component}}</p>
      <p>Description: {{data.info}}
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>