@import "src/app/common";
:host ::ng-deep .ui-button {
  background-color: transparent !important;
  color: #000 !important;
  border-bottom: 1px solid $middle-gray;
  span.ui-button-text {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  &:active {
    outline: none;
    box-shadow: none !important;
  }
  &:hover {
    border-bottom-color: #000;
  }
}