<div class="wrapper">
  <div class="logo"></div>

  <div class="text-wrapper">
    <img src="assets/images/arrow-right-white.svg" alt="#" class="arrow" (click)="scroll(pageStart)">
    <div class="dummy" #pageStart></div>
    <div class="article">
      <p>
        Welcome to Refit4U this website was designed for improve your sport technique , your motivation to keep your
        self healthy and strong as possible ,
        here we are working on a system that will give you all the facilities for a good ,
        safety and personal training schedule, our goal is to give you as much as we can to make it easy for you ,
        so we will work hard to make you work hard on the trainee sessions.

      </p>
      <p>
        Here in Refit4U we propose to you the easy way to get fit and keep healthiness as you should to be , the main
        goal is to build your own group of
        friend which both are training with this tool so you can compete with them , for the beginning you will insert
        your basic personal details so the
        system can analyze them and get for you the best and much personal training for you and your capabilities , as
        long as you bring us more information
        about your body situation and healthiness we can bring make a more specific program for you.

      </p>
      <p>
        Personal programs with care as much as possible, Refit4U make a program which is a particular program that
        cares about all your capabilities
        which is mean, if you have any injury/despicability/weakness on any part of your body, than the main idea is to
        care about your body healthness,
        so we will make the program as should be to all the rest of your body and the parts of your body that need
        special treat will get it, it's mean
        that we will bring you a regular program with some special exercises for these parts of your body, remember an
        injury is a possibility to get
        strong in other places.
      </p>

      <div class="about">
        <div class="person">
          <figure class="pic">
            <img src="assets/images/asaf.jpg" alt="asaf">
          </figure>
          <p>Asaf Ben<span>|</span> Developer</p>


          <p>
            I'm a software practical engineering that graduated in 2018 at the school for practical engineering in
            Technion , 25 years old , a professional surfer with amazing skills and resume , one of the founders of
            Refit4U.
          </p>
        </div>

        <div class="person">
          <figure class="pic">
            <img src="assets/images/adrian.jpg" alt="asaf">
          </figure>
          <p>Adrian Rainstein<span>|</span> Developer</p>


          <p>
            I'm a software practical engineering that graduated in 2018 at the school for practical
            engineering in Technion , 29 years old ,
            rugby player for the Israel rugby national team , one of the founders of Refit4U.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>