@import "src/app/common";
:host {
  width: 100vw;
}

.logo,
.logo::before,
.logo::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  position: absolute;
  top: calc(100vh / 2);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: url("assets/images/logo.svg") no-repeat 50%/70% rgba(0, 0, 0, 0.1);
  color: #69ca62;
  box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);
}

.logo::before,
.logo::after {
  content: '';
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;

}

.logo::before {
  animation-delay: -4s;
}

.logo:hover::after,
.logo:hover::before {
  background-color: rgba(75, 191, 105, 0.3);
}

@keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, 330px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 330px, 0px);
  }
  50% {
    clip: rect(328px, 330px, 330px, 0px);
  }
  75% {
    clip: rect(0px, 330px, 330px, 328px);
  }
}

//////////////////////////////////////////////////////////////////////////////////
// text after the logo
//////////////////////////////////////////////////////////////////////////////////
.wrapper {
  background-color: transparent;
  width: 100%;
  .arrow {
    transform: translate(-50%, 0) rotate(90deg);
    width: 3rem;
    position: absolute;
    top: -120px;
    left: 50%;
    cursor: pointer;
  }
  .text-wrapper {
    @extend %back-area;
    margin-top: 100vh;
    width: 100%;
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
    padding: 50px 50px;
    @include for-size(desktop-up) {
      padding: 100px 200px;
    }
    .dummy {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
    }
    .article {
      max-width: 1050px;  
      margin: 0 auto; 
      line-height: 1.5;
      p {
        margin: 10px 0;
      }
      .about {
        display: flex;
        @include for-size(phone-only) {
          flex-direction: column;
        }
        .person {
          flex-basis: 50%;
          padding: 40px;
          @include for-size(phone-only) {
            padding: 10px;
            flex-basis: 100%;
          }
          
          display: flex;
          flex-direction: column;
          align-items: center;
          .pic {
            width: 150px;
            @include for-size(phone-only) {
              width: 100px;
            }
            img {
              width: 100%;
              -webkit-clip-path: circle(45%);
              clip-path: circle(45%);
            }
          }
        }
        span {
          margin: 5px;
        }
      }
    }
  }
}
