<h1 mat-dialog-title>{{data.userName}}</h1>
<div mat-dialog-content>
  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle>Current status: {{data.isAdmin ==='A' ? 'Admin' : 'User'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput [(ngModel)]="data.email">
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-select [(ngModel)]="data.selected" name="userType">
          <mat-option *ngFor="let userType of data.userTypes" [value]="userType.value">
            {{ userType.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Update</button>
</div>