<!-- weight loss -->
<svg class="weight" *ngIf="target === 'weightloss'" viewBox="0 0 20 20" [ngStyle]="{'stroke': stroke, 'stroke-opacity': opacity}">

  <g>
    <g>
      <g>
        <g>
          <path class="st0" d="M15.2,3.7H4.8c-0.9,0-1.7,0.8-1.7,1.7v9.2c0,0.9,0.8,1.7,1.7,1.7h10.4c0.9,0,1.7-0.8,1.7-1.7V5.4
					C16.9,4.4,16.1,3.7,15.2,3.7z" />
        </g>
      </g>
      <g>
        <path class="st0" d="M7.2,10.9H13" />
        <path class="st0" d="M13.6,10.3l1.7-2.4c0.1-0.1,0.1-0.3,0-0.5c-1.8-1.8-5.1-1.7-5.2-1.7c-0.1,0-3.4,0-5.2,1.7
				c-0.1,0.1-0.1,0.3,0,0.5l1.7,2.2" />
        <path class="st0" d="M9.7,10.6c0-0.4,0.3-0.8,0.8-0.8s0.8,0.3,0.8,0.8" />
        <line class="st0 weight-hand" x1="11.1" y1="10.1" x2="12.3" y2="8.3" />
        <line class="st0" x1="10.1" y1="5.7" x2="10.1" y2="6.8" />
        <line class="st0" x1="7.9" y1="6.1" x2="8.2" y2="7.1" />
        <line class="st0" x1="5.7" y1="6.9" x2="6.2" y2="7.8" />
        <line class="st0" x1="12.4" y1="6.1" x2="12.1" y2="7.1" />
        <line class="st0" x1="14.6" y1="6.9" x2="14" y2="7.8" />
      </g>
    </g>
    <line class="st0" x1="9.9" y1="12.5" x2="9.9" y2="14.8" />
  </g>
</svg>

<!-- body shaping -->

<svg class="shape" viewBox="0 0 20 20" *ngIf="target === 'bodyshaping'" [ngStyle]="{'stroke': stroke, 'stroke-opacity': opacity}">

  <path class="st0" d="M11.7,4.5c0.6-0.1,1.1,0.4,1.1,1c0,0.6-0.5,1-1.1,1 M9,7.6c1.5-4,0.1-6.6,0.1-6.6C9,0.9,8.9,0.5,9.3,0.3
	C9.7,0.2,10,0.4,10,0.6c0,0,0.7,1,1,3.1c0.1,0.9,0.2,2.5-0.2,4 M8.7,12.7c0-0.1,0.1-4.1,0.1-4.1 M12.7,12.6c0,0,2.3,0,3,0
	c0.2,0,0.8,0.4,0.8,0.9c0,1.5-2.3,5.5-2.3,5.5c-0.1,0.2-0.5,0.5-0.8,0.4c-0.5-0.2-0.5-0.5-0.5-0.6l1.7-3.9c0.1-0.2,0-0.3-0.1-0.5
	c-0.1-0.2-0.3-0.2-0.4-0.2l-2.4,0.1c-0.3,0-0.7,0-0.7,0c-0.2,0-0.3,0.1-0.4,0.2c0,0-1.7,2-2.7,2.9C6.6,18.3,3,19.6,3,19.6
	c-0.3,0.2-0.6-0.1-0.7-0.4c-0.2-0.3-0.1-0.8,0.2-0.9c0,0,2.7-1.2,3.6-2c0.9-0.8,2.2-2.8,2.2-2.8 M11.6,8.5c0.4,0.3,0.6,0.8,0.6,1.2
	l0,2.1" />
</svg>

<!-- health -->

<svg class="health" viewBox="0 0 20 20" *ngIf="target === 'health'" [ngStyle]="{'stroke': stroke, 'stroke-opacity': opacity}">

  <g>
    <g>
      <path class="st0" d="M9.3,5.6C8.8,5.3,8.6,4.9,8.6,4.4c0-0.8,0.6-1.4,1.4-1.4c0.8,0,1.4,0.6,1.4,1.4c0,0.5-0.2,0.9-0.6,1.2" />
      <path class="st0" d="M14.1,13.3c0,0,2,0.6,2.8,0.9c1.6,0.5,1.2,2.5-0.3,2.7c-2.1,0.3-7.5,0-7.5,0c-0.5-0.1-0.4-0.8-0.1-1
			c0.9-0.5,5-0.7,5-0.7" />
      <path class="st0" d="M7.9,16.9c-1.7,0-3.5,0-4.5-0.1c-1.5-0.2-1.7-2-0.2-2.6C4.1,13.9,6,13.4,6,13.4" />
      <path class="st0" d="M8.5,15.2c0,0-1.7-0.2-2.8-0.2" />
      <path class="st0" d="M13.5,8.8c-0.2-0.2-0.6-0.3-0.6,0.1c-0.1,0.9-0.1,3.1,0,3.5c0,0.1,0.1,0.6,0.5,0.7" />
      <path class="st0" d="M11.1,6.5h1.5c0,0,0.8,0,1.2,0.4c0,0,2.5,2.5,5.3,2.8c0.2,0,0.6,0.2,0.6,0.6c0,0.5-0.7,0.5-1,0.6
			c-2,0.1-3.5-0.9-4.6-1.7" />
      <path class="st0" d="M6.6,13.1c0.4-0.2,0.4-0.6,0.5-0.7c0.1-0.4,0.2-2.6,0-3.5C7.1,8.5,6.7,8.6,6.5,8.8" />
      <path class="st0" d="M5.9,9.2c-1.1,0.8-2.6,1.7-4.6,1.7c-0.3,0-1-0.1-1-0.6c0-0.5,0.4-0.6,0.6-0.6c2.8-0.3,5.3-2.8,5.3-2.8
			c0.4-0.3,1.2-0.4,1.2-0.4h1.5" />
    </g>
  </g>
</svg>


<!-- formation -->


<svg class="power" viewBox="0 0 20.6 20" *ngIf="target === 'power'" [ngStyle]="{'stroke': stroke, 'stroke-opacity': opacity}">

  <g>
    <path class="st0 hand" d="M17.8,7.3c0,0-0.2-1.9-0.2-2s-1-0.2-1.1-0.2c-0.1,0,0-1.1,0.5-1.1c0.4,0,1.4,0,1.8,0.8s1.9,3.6,1.5,4.6
		c-0.3,0.7-1.8,1.6-3.4,1.5c-1.1,0-1.7-0.3-1.7-0.3" />
    <path class="st0" d="M15.1,11.3c0,0,0.3,0.9-0.8,3.8" />
    <path class="st0" d="M9.1,6.9C8.8,6.6,8.6,6.1,8.6,5.6c0-1,0.8-1.8,1.8-1.8s1.8,0.8,1.8,1.8c0,0.4-0.2,0.9-0.5,1.2" />
    <path class="st0" d="M11.5,7.8c0,0,0,0.1,0.1,0.2c0.3,0.4,1.3,0.2,1.3,0.2s0.5-0.6,1.5-0.5c0.9,0.1,1.2,0.6,1.2,0.6
		s0.4-0.5,1.2-0.4c0.8,0.1,1.2,0.4,1.2,0.4" />
    <path class="st0" d="M14,15.9c0,0-3.1,0.5-7.2,0" />
    <g>
      <path class="st0" d="M12.9,11.6c0,0-1.2,0.6-2,0" />
      <path class="st0" d="M9.8,11.6c0,0-1.2,0.6-2,0" />
      <path class="st0" d="M12.9,13.3c0,0-1.2,0.6-2,0" />
      <path class="st0" d="M9.8,13.3c0,0-1.2,0.6-2,0" />
      <line class="st0" x1="10.3" y1="12.2" x2="10.3" y2="13" />
    </g>
    <path class="st0" d="M2.8,7.3c0,0,0.2-1.9,0.2-2c0-0.1,1-0.2,1.1-0.2c0.1,0,0-1.1-0.5-1.1c-0.4,0-1.4,0-1.8,0.8s-1.9,3.6-1.5,4.6
		c0.3,0.7,1.8,1.6,3.4,1.5c1.1,0,1.7-0.3,1.7-0.3" />
    <path class="st0" d="M5.5,11.3c0,0-0.3,0.9,0.8,3.8" />
    <path class="st0" d="M9.1,7.8c0,0,0,0.1-0.1,0.2C8.8,8.3,7.7,8.1,7.7,8.1S7.2,7.5,6.2,7.6C5.3,7.7,5.1,8.2,5.1,8.2
		S4.6,7.8,3.9,7.8C3.1,7.9,2.7,8.2,2.7,8.2" />
  </g>
</svg>