<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav [mode]="mode">
    <a class="side-nav-link" *ngFor="let link of navLinks; let i = index;" [routerLink]="link.route" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}" (click)="checkClose()">
      {{link.label}}
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>