@import "src/app/common";
.side-nav-container {
  width: 100%;
}
//////////////////////////////////////////////////////////////////////////////////
// navigation
//////////////////////////////////////////////////////////////////////////////////
.mat-drawer.mat-drawer-push,
.mat-drawer.mat-drawer-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  box-shadow: 4px 0px 1px 1px rgba(0, 0, 0, 0.1);
  a.side-nav-link {
    font-family: $nav-font;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    border-bottom: 1px solid $middle-gray;
    box-shadow: $sh-depth-1;
    padding: 24px 0px;
    cursor: pointer;
    opacity: .6;
    min-width: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    transition: background-color 0.4s;
    &:hover {
      opacity: 1;
      background-color: $middle-gray;
    }
  }
  .active-link {
    background-color: #000;
    opacity: 0.4 !important;
    color: white !important;
    font-weight: 700;
    &:hover {
      opacity: 0.3 !important;
      background-color: #000 !important;
    }
  }
}
//////////////////////////////////////////////////////////////////////////////////
// content
//////////////////////////////////////////////////////////////////////////////////
::ng-deep .mat-sidenav-content {
  background-color: #fff;
  // display: flex !important;
  // align-items: center;
  z-index: 3 !important;
  .content {
    width: 100%;
  }
}