<div class="register-form">
  <mat-icon class="go-home" (click)="goHome()">close</mat-icon>
  <h1>Sign Up</h1>
  <form novalidate (ngSubmit)="onFormSubmit(signup)" #signup="ngForm" autocomplete="off">
    <p>Already have an account?
      <a [routerLink]="['../log-in']">
        Log in
      </a>
    </p>
    <!-- user name -->
    <sh-fa-input icon="user">
      <input inputRef type="text" placeholder="Username" pattern="^[\w]+$" [(ngModel)]="user.userName" name="userName"
        #userNameVar="ngModel" required matTooltip="letters and digits only" matTooltipPosition="above">
    </sh-fa-input>
    <div [hidden]="userNameVar.valid || userNameVar.pristine" class="error">
      Letters and digits only
    </div>
    <!-- email -->
    <sh-fa-input icon="envelope">
      <input inputRef type="email" placeholder="Email" [(ngModel)]="user.email" name="email" #emailVar="ngModel"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required matTooltip="ex: adrian@gmail.com" matTooltipPosition="above">
    </sh-fa-input>
    <div [hidden]="emailVar.valid || emailVar.pristine" class="error">
      ex: adrian@gmail.com
    </div>
    <!-- paswword -->
    <div ngModelGroup="password" #userPassword="ngModelGroup" required>
      <sh-fa-input icon="lock">
        <input inputRef type="password" pattern="^[\w]{8,}$" [(ngModel)]="user.password" placeholder="Password" name="password"
          #passwordVar="ngModel" required matTooltip="at least 8 letters/digits" matTooltipPosition="above">
      </sh-fa-input>
      <div [hidden]="passwordVar.valid || passwordVar.pristine" class="error">
        At least 8 letters/digits
      </div>
      <sh-fa-input icon="lock">
        <input inputRef type="password" pattern="^[\w]{4,}$" placeholder="Confirm Password" [(ngModel)]="passwordConfirm"
          name="confirmPassword" required matTooltip="retype password" matTooltipPosition="above" (change)="checkPasswords()">
      </sh-fa-input>
      <div *ngIf="(userPassword.invalid || userPassword.value?.password != userPassword.value?.confirmPassword) && userPassword.touched">
        <div *ngIf="userPassword.invalid; else nomatch" class="error">
          At least 8 letters/digits
        </div>
        <ng-template #nomatch>
          <div class="error">Passwords don't match</div>
        </ng-template>
      </div>
    </div>
    <!-- terms and conditions -->
    <div class="checkbox">
      <label>
        <mat-checkbox ngModel name="terms" #terms="ngModel" required>
          Confirm that you've read the
          <a [routerLink]="['/welcome', 'terms']">Terms and Conditions</a>
        </mat-checkbox>
      </label>
    </div>
    <!-- this block appears in case of form error -->
    <div *ngIf="formError" class="error">
      {{ formError }}
    </div>
    <!-- submit -->
    <!-- div is workaround to show tooltip on disabled button -->
    <div style="display: inline-block" matTooltip="complete the form" matTooltipPosition="above" [matTooltipDisabled]="signup.form.valid">
      <button pButton type="submit" [disabled]="signup.form.invalid || passwordConfirmError" label="Sign Up" matTooltip="complete the form"
        matTooltipPosition="above" [matTooltipDisabled]="signup.form.valid && !passwordConfirmError">
      </button>
    </div>
  </form>
</div>