@import "../_common.scss";
//////////////////////////////////////////////////////////////////////////////////
// component position 
//////////////////////////////////////////////////////////////////////////////////
:host {
  position: fixed; // always on top of the screen
  top: 0;
  left: 0px;
  right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between; // make logo on the left and menu on the right
  align-items: center;
  height: $header-height;
  z-index: 999; // always on top but below the cdk-overlay-container
}
.logo {
  position: relative;
  top: 5px;
  @include for-size(phone-up) {
    margin-left: 24px;
  }
}
//////////////////////////////////////////////////////////////////////////////////
// small device menu with burger 
//////////////////////////////////////////////////////////////////////////////////
// burger and its menu
// the burger icon
.burger {
  display: inline-block;
  .mat-icon-button {
    z-index: 998;
    cursor: pointer;
  }
}
// line below each link - remove from the burger
::ng-deep .burger~.mat-ink-bar {
  visibility: hidden !important;
}
// panel of the links when burger menu is opened
::ng-deep .mat-menu-panel {
  margin-top: 20px;
  background-color: $middle-gray;
  opacity: 0.9 !important;
  .mat-menu-content {
    padding: 0 !important;
  }
  .mat-menu-item {
    padding: 0 !important;
    a {
      opacity: 1;
      text-align: left;
    }
    &:hover a {
      color: $primary-color !important;
      opacity: 0.9;
    }
    .mat-tab-link {
      margin: 0;
      width: 100% !important;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
// adjust logout button to the other links width
.burger-logout {
  padding-left: 20px;
  padding-right: 20px;
  ::ng-deep a {
    opacity: 1;
  }
}