  <!--
  //////////////////////////////////////////////////////////////////////////////////
    logo 
  //////////////////////////////////////////////////////////////////////////////////
  -->
<a class="logo" [routerLink]="navLinks[0].route">
  <sh-logo></sh-logo>
</a>
  <!--
  //////////////////////////////////////////////////////////////////////////////////
    main wide navigation 
  //////////////////////////////////////////////////////////////////////////////////
  -->
<nav mat-tab-nav-bar>
  <!-- full nav -->
  <ng-container *ngIf="showNav">
    <a class="main-nav" mat-tab-link *ngFor="let link of navLinks; let i = index;" [routerLink]="link.route" routerLinkActive
      #rla="routerLinkActive" [active]="activeLinkIndex === i" (click)="setActiveClass(i)" [routerLinkActiveOptions]="{exact: true}"
      [ngClass]="setActiveClass(i)" [ngStyle]="{'color': linkColor}">
      {{link.label}}
    </a>
    <ng-content select=".wide"></ng-content>
  </ng-container>
  <!--
  //////////////////////////////////////////////////////////////////////////////////
    burger navigation
  //////////////////////////////////////////////////////////////////////////////////
  -->
  <div class="burger" *ngIf="showBurger">
    <button mat-icon-button [matMenuTriggerFor]="menu" [ngStyle]="{'color': linkColor}">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" overlapTrigger="false">
      <button mat-menu-item *ngFor="let link of navLinks; let i = index;">
        <a mat-tab-link [routerLink]="link.route" routerLinkActive #rla2="routerLinkActive" [active]="activeLinkIndex === i" (click)="setActiveClass(i)"
          [routerLinkActiveOptions]="{exact: true}" [ngClass]="tabsClass">
          {{link.label}}
        </a>
      </button>
      <div class="burger-logout">
        <ng-content select=".small"></ng-content>
      </div>
    </mat-menu>
  </div>
</nav>