<div class="wrapper">
  <div class="buttons">
    <button type="button" class="up" (click)="inc()"></button>
    <button type="button" class="down" (click)="dec()"></button>
  </div>
  <input type="number" #number="ngModel" [id]="id" [min]="min" [max]="max" [step]="step" [matTooltip]="tip"
    matTooltipPosition="above" [(ngModel)]="value" [name]="id" required>
  <div [hidden]="!cssClasses.error" [ngClass]="cssClasses">
    {{tip}}
  </div>
</div>