@import "src/app/common";
// remove original arrows
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 0;
  margin: 0;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  input {
    width: 100%;
    &:focus {
      border-color: $primary-color !important;
      box-shadow: 0 0 3px $primary-color !important;
      outline: none;
    }
  }
  .buttons:active~input,
  .buttons:hover~input {
    border-color: $primary-color !important;
    box-shadow: 0 0 3px $primary-color !important;
  }
  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    border-left: 2px solid $middle-gray;
    .up,
    .down {
      position: absolute;
      right: 0;
      width: 100%;
      height: 50%;
      background: transparent;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    .up {
      top: 0;
      border-bottom: 2px solid $middle-gray;
    }
    .down {
      bottom: 0;
    }
    .up::after,
    .down::after {
      position: absolute;
      right: 0;
      height: 100%;
      width: 100%;
      font-size: 20px;
    }
    .up::after {
      content: "\002B"; // "\25B2" arrow up
      top: 0;
    }
    .down::after {
      content: "\2212"; // "\25BC" arrow down
      bottom: 0;
    }
  }
  .message {
    display: none;
    &.error {
      font-family: $form-font;
      
      margin: 10px 0; // font-weight: bolder;
      font-style: italic;
      display: block;
      position: absolute;
      top: 100%;
      left: 5px;
    }
  }
}