@import "src/app/common";
:host {
  display: flex;
  @include for-size(phone-only) {
    flex-direction: column;
    padding: 0;
  }
  padding: 0 15px;
  margin-top: 50px;
}
.text {
  font-size: 30px;
}
.explain {
  width: 30%;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include for-size(phone-only) {
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  .levels {
    padding: 10px 0 0;
    @include for-size(phone-only) {
      margin-top: 40px;
      width: 200px;
    }
    p {
      font-size: 16px;
      font-family: $primary-font;
    }
    #circles {
      width: 100%;
      text {
        font-size: 30px;
        font-family: $primary-font;
      }
      .strong1 {
        fill: rgb(68, 248, 137);
      }
      .strong2 {
        fill: rgb(62, 165, 70);
      }
      .strong3 {
        fill: rgb(39, 112, 72);
      }
      .strong4 {
        fill: rgb(5, 0, 0);
      }
    }
    border-top: 2px $primary-color solid;
    border-bottom: 2px $primary-color solid;
  }
  p:not(:first-of-type) {
    margin-top: 30px;
  }
  p {
    font-family: $form-font;
    font-size: 16px;
    line-height: 1.5;
  }
  .upper {
    font-family: $primary-font;
    .activeMaleFemale {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
      font-weight: bold;
    }
    span {
      cursor: pointer;
      margin: 0 5px;
      &:hover {
        opacity: 0.7;
      }
      &:first-of-type {
        margin-left: 0;
      }
    }
    >p:last-of-type {
      font-size: 13px;
    }
  }
  @include for-size(phone-only) {
    .upper {
      >p:first-child {
        display: none;
      }
      p {
        margin-top: 10px;
      }
    }
  }
  .buttons {
    font-family: $form-font;
    order: 2;
    display: flex;
    @include for-size(phone-only) {
      margin-top: 20px;
      justify-content: space-between;
    }
    >div:first-of-type {
      margin-right: 10px;
    }
  }
}
.health-grid {
  flex-grow: 1;
  display: flex;
  @include for-size(phone-only) {
    margin-left: 0;
  }
  flex-direction: column;
  .pic {
    display: flex;
    width: 100%;
    .front,
    .back {
      flex-grow: 1;
      margin: 0 30px;
    }
    svg {
      width: 100%; // 100% of the parent div (front/back)
    }
    .st0 {
      fill: transparent;
      stroke: #A5A5A5;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      cursor: pointer;
    }
    .st0:hover {
      transition: 0.05s;
      stroke-width: 3px;
    }
    .st0:focus {
      outline: none;
    }
    .st1 {
      fill: #A5A5A5;
    }
  }
  .writeZones {
    order: 1;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    margin: 40px 0 0;
    .zones * {
      font-family: $header-font;
      font-weight: 500;
      cursor: pointer;

    }
    .hover {
      transition: 0.4s;
      font-weight: bold;
      transform: scale(1.7) translate(0, -10px);
    }
    @include for-size(phone-only) {
      width: 100%;
      margin: 30px auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .zones {
        width: 100px;
        margin-bottom: 15px;
      }
    }
  }
}