<!--explain about the page-->
<div class="explain">
  <div class="upper">
    <p>
      <span (click)="male=true" [ngClass]="{'activeMaleFemale': male === true}">Male</span> /
      <span (click)="male=false" [ngClass]="{'activeMaleFemale': male === false}">Female</span>
    </p>
    <p>Please check your health level for bodies areas.</p>
    <p>Press on the area to change the color level. All areas have to be completed before submitting.</p>
  </div>
  <div class="levels">
    <p>Health Levels</p>
    <svg id="circles" viewBox="0 0 492 300">
      <text text-anchor="middle">
        <tspan x="12%" y="35%">strong</tspan>
        <tspan x="87%" dy="0">weak</tspan>
        <tspan x="12%" y="85%">1</tspan>
        <tspan x="37%" dy="0">2</tspan>
        <tspan x="62%" dy="0">3</tspan>
        <tspan x="87%" dy="0">4</tspan>
      </text>
      <circle class="strong1" cx="12%" cy="55%" r="40" />
      <circle class="strong2" cx="37%" cy="55%" r="40" />
      <circle class="strong3" cx="62%" cy="55%" r="40" />
      <circle class="strong4" cx="87%" cy="55%" r="40" />
    </svg>
  </div>
  <!-- submit -->
  <!-- div is workaround to show tooltip on disabled button -->
  <div class="buttons">
    <div class="submit" matTooltip="complete all areas" matTooltipPosition="above" [matTooltipDisabled]="validForm">
      <button pButton (click)="onSubmit()" [disabled]="!validForm" label="Submit"></button>
    </div>
    <div>
      <button pButton (click)="onReset()" label="Reset"></button>
    </div>
  </div>
</div>
<!-- -  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--svg bodies man-->
<div class="health-grid">
  <div class="writeZones">
    <div class="zones" *ngFor="let el of categories; let i = index" (click)="setHealth(el)" [ngStyle]="{'color' : getHealthColor(el)}"
      [ngClass]="{'hover': hoverClasses[el]}">
      <p>{{el}}</p>
      <p>({{healthCondition[el]}})</p>
    </div>
  </div>
  <div class="pic" *ngIf="male">
    <div class="front">
      <svg *ngIf="showPic" viewBox="0 0 172.3 293.1">
        <g id="Capa_1" />
        <g id="Layer_2" />
        <g id="Layer_3">
          <!--start of legs-->
          <g class="st0" (mouseenter)="hoverClasses['legs'] = true" (mouseleave)="hoverClasses['legs'] = false" (click)="setHealth('legs')"
            [ngStyle]="{ 'stroke': getHealthColor('legs')}" matTooltip="legs" matTooltipPosition="above">
            <!--lines bottom layer-->
            <path d="M57.9 166.3c0 0-9.5 12.4 0.5 40.2" />
            <path d="M60.8 217.4c0 0 7.3 13.4 5.4 30.7" />
            <path d="M106.4 167.7c0 0 6 14.8-1.5 35.8" />
            <path d="M106.3 223.8c0 0 0.1 20.4 10.7 28.7" />
            <!--end of lines-->
            <path d="M75.4 174.1c-2.8 8-5.2 19.3-6.1 25.1 -0.3 1.7-1.2 11.2-1.2 11.2s5.1 12.3 6.2 15.7c1.1 3.5 2.6 9.9 1.5 15 -1.1 5.1-2.7 12.4-2.2 15.5 0.6 3.1 3 19.1 3.8 21.3 0.8 2.3 2.1 6.1 1.4 7.9 -0.7 1.8-0.3 3.9-4.5 3.6 -4.2-0.3-8.6-1.7-11-0.7s-4.3 2.5-7.2 2.5 -12.9-0.4-14.1-0.6c-1.1-0.2-1.5-3.1 0.8-4.1 2.3-0.9 5.2-0.4 7.5-1.4 2.3-1 10.8-8.3 10.8-9.8s-7-23.5-8-26.3c-1-2.8-5.8-34-5.5-37.3 0.4-3.3 1.4-12.7 0.6-15.2 -0.8-2.4-9.6-25.2-1.6-49 0.2-0.5 0.6-2.1 0.8-2.6" />
            <path d="M112 143.2c3.8 11.5 6.7 30.7 5.8 39.1 -0.6 5.4-4.1 29.5 0.7 34.2 10 9.9 6.5 54.6 7.4 56.7 0.8 2.1 3 8.5 8 10.7s10.2 4 10.2 4.9c0 0.9 1.8 3.3-2.6 3.1 -4.4-0.2-12.9-2-15.8-2 -2.9 0-11.9 0.7-12.1-2.4s2.5-5.7 1.5-8.1c-1-2.5-3.7-17.9-12.1-28.9 -6.2-8.1-3.8-19.8-3.4-23.6 0.4-3.8 1-8.7 1-9s-2.8-2.3-4.9-5.4c-2.1-3.1-8-14.8-9.5-22 -0.6-2.8-1.7-12.8-2.3-16.3" />
            <path d="M49.4 141c0 0 16.7 7.5 19.8 16.2 3.1 8.7 3.4 13.3 9.7 13.7 3 0.2 5.6-0.9 7.6-9.4 2.2-9.4 24.1-21.4 24.1-21.4" />
            <path d="M48.9 140.8c0.9-2.4 1.8-5.1 2.5-8.3" />
            <path d="M108.4 133.3c0.4 3.1 1 3.4 2.1 6.7" />
            <path d="M109.3 137.4c0 0-2.3 1.6-6.1 2" />
            <path d="M50.8 136.4c0 0 2.3 1.6 6.1 2" />
          </g>
          <!--end of legs-->
          <!--start biceps-->
          <g class="st0" (mouseenter)="hoverClasses['biceps'] = true" (mouseleave)="hoverClasses['biceps'] = false"
            (click)="setHealth('biceps')" [ngStyle]="{ 'stroke': getHealthColor('biceps')}" matTooltip="biceps">
            <!--start of lines-->
            <path d="M17.5 45.1c0 0 17.9-1.4 21.4 9.4" />
            <path d="M129.5 51.7c0 0 8.5-9 22.6-4.2" />
            <path d="M13.2 23.8c0 0-4.5 5.1-4.6 10.9" />
            <path d="M158 23.8c0 0 5.3 5.1 5.2 10.9" />
            <!--end of lines-->
            <path d="M135.4 64.8c3.1-0.3 10.9-2.2 15.9-4.7 4.9-2.5 11.1-11.1 15.8-13.4 4.8-2.3 2.4-3.1 3.8-7.4 1.5-4.3-17.3-32.7-24.8-37.1 -6-3.6-20.2 3.4-20.2 3.4 -2.9 1.6-3.9 7.4-2.4 9.5 1.5 2.1 8 1 8.6 0.9 0.6-0.1 0.8-1.8 0.8-1.8s3.5-0.1 5.1-0.6c1.6-0.5 1.9-1.6 3.2-2.7 1.3-1 1.8-0.6 2.8 1.4 1 2 1.9 7.5 2 12.6 0.1 5.1 5.4 13.1 5.4 13.1s0 0-0.4 0.8c-0.4 0.8-2.4 0.8-4.1 0.6 -1.7-0.2-6.2-1.7-9.8-1.6 -3.6 0.2-5.9 2.8-10.1 6.3" />
            <path d="M42.8 44.5C35.8 35.2 28.4 38 23.2 39c1.3-7.4-0.5-15.2-0.5-15.2s0.9-2 2.6-5.2c1.1-2.3 1.1-4.1 2.5-4.1 2.5 0.1 4.8-0.3 8.5 0 0.3 0 0.2 1.4 0.5 1.4 1.4 0.1 1.9-0.3 2.2-0.2 2.3 0.2 5.9-7.8 3-9.7 -3.9-2.7-8.4-4.5-14.9-3.4 -6.8 1.2-8 1.1-8.9 4.5 -0.9 3.5-5.1 8.6-12.2 20.7C-1 40 1 45.8 4.8 47.5c3.8 1.6 13.1 10.9 17.8 14.2 4.7 3.3 10.4 2.5 15.5 3.1 1.3 0.1 2.3 0.2 3.2 0.2" />
          </g>
          <!--end of biceps-->
          <!--start shoulders-->
          <g class="st0" (mouseenter)="hoverClasses['shoulders'] = true" (mouseleave)="hoverClasses['shoulders'] = false"
            (click)="setHealth('shoulders')" [ngStyle]="{ 'stroke': getHealthColor('shoulders')}" matTooltip="shoulders">
            <path d="M71.7 51.4c-2.3-0.1-5-1.6-6.8-2.6C62.4 47.4 53.3 41 46 45.1" />
            <path d="M123.2 45.1c-11.5-3.3-16.2 3.4-19.1 4.2" />
            <path d="M100.4 48.9c-1.6-1.1-2.3-3.3-2.8-4.6 -0.7-1.8-1.3-8.7-1.3-8.7s1.3 0.1 1.6-0.2c3-2.5 3.4-9.3 2.9-10.2 -0.3-0.5-2.3-0.7-2.6-0.7 0-0.4 0-1.9-0.5-7.4 -0.8-9-10.3-8.9-16.9-8.4 -6.6 0.5-8.2 5.1-9.8 8 -1.6 2.8 0.5 9.4 0.5 9.4s-1.4 0.5-1.6 0.9c-0.3 0.4 0.6 5.6 1.4 7.3 0.7 1.7 2.7 1.8 2.7 1.8s1.2 3.8 1.5 5.1c0.2 1.2 0.7 5.4-0.5 8" />
            <path class="st1" [ngStyle]="{ 'fill': getHealthColor('shoulders')}" d="M98.2 23.2c0 0 0.7-8.9-1.7-9.5 -2.4-0.6-6.9 1.5-10.4 1.7C79.4 15.9 73.7 14 73.7 14s-3 3.9-3.1 6.5 0.9 5.6 0.9 5.6 -1.7-5.9-0.5-9.4 4.2-8.3 12.8-8.1c8.6 0.1 10 1.9 11.8 3.4S98.7 14.9 98.2 23.2z" />
          </g>
          <!--end of shoulders-->
          <!--start chest-->
          <g class="st0" (mouseenter)="hoverClasses['chest'] = true" (mouseleave)="hoverClasses['chest'] = false"
            (click)="setHealth('chest')" [ngStyle]="{ 'stroke': getHealthColor('chest')}" matTooltip="chest">
            <path d="M126.2 64.3c0 0-2.4 15.3-18.7 14.8 -20.9-0.7-16.3-22.7-16.3-22.7" />
            <path d="M47.7 64.3c0 0 2.4 15.3 18.7 14.8 20.9-0.7 16.3-22.7 16.3-22.7" />
            <circle cx="109.5" cy="70.4" r="2.3" />
            <circle cx="67.2" cy="70.4" r="2.3" />
          </g>
          <!--end of chest-->
          <!--start abdominals-->
          <g class="st0" (mouseenter)="hoverClasses['abdominals'] = true" (mouseleave)="hoverClasses['abdominals'] = false"
            (click)="setHealth('abdominals')" [ngStyle]="{ 'stroke': getHealthColor('abdominals')}" matTooltip="abdominals">
            <!--start of lines-->
            <path d="M93.7 97c0 0-6 2.9-9.9 0" />
            <path d="M78.2 97c0 0-6 2.9-9.9 0" />
            <path d="M93.7 106.2c0 0-6 2.9-9.9 0" />
            <path d="M78.2 106.2c0 0-6 2.9-9.9 0" />
            <path d="M93.7 114.7c0 0-6 2.9-9.9 0" />
            <path d="M78.2 114.7c0 0-6 2.9-9.9 0" />
            <line x1="80.8" y1="98.6" x2="80.8" y2="103.6" />
            <line x1="80.8" y1="109.1" x2="80.8" y2="113.1" />
            <!--end of lines-->
            <line x1="108.5" y1="133.3" x2="51.5" y2="132.5" />
            <path d="M119.7 84.9c-3.6 5.2-5.7 10.6-6.5 12.2 -1.6 2.9-6.4 21.7-5.4 32.1" />
            <path d="M130.4 66.9c-1.3 2.1-6.1 11.3-8.3 14.5" />
            <path d="M46 81.6c-1-3.5-1.7-7-1.6-10 0-1.4 0-2.5-0.1-3.4" />
            <path d="M52.6 128.1c0.7-2.1 0.3-9.6 0.4-11.2 0.1-8.9-1-18.6-2.3-22.4 -0.6-1.7-1.9-4.9-3.2-8.6" />
            <rect x="56" y="85" width="50" height="50" fill="transparent" stroke="none" />
          </g>
          <!--end of abdominals-->
        </g>
      </svg>
    </div>
    <div class="back">
      <svg *ngIf="showPic" viewBox="0 0 172.3 293.1">
        <g id="Capa_1" />
        <g id="Layer_2" />
        <g id="Layer_3">
          <!--start of back legs-->
          <g class="st0" (mouseenter)="hoverClasses['legs'] = true" (mouseleave)="hoverClasses['legs'] = false" (click)="setHealth('legs')"
            [ngStyle]="{ 'stroke': getHealthColor('legs')}" matTooltip="legs" matTooltipPosition="above">
            <!--start of lines-->
            <path d="M60.2 167.7c0 0-6 14.8 1.5 35.8" />
            <path d="M60.2 223.8c0 0-0.1 20.4-10.7 28.7" />
            <path d="M108.7 166.3c0 0 9.5 12.4-0.5 40.2" />
            <path d="M105.8 217.4c0 0-7.3 13.4-5.4 30.7" />
            <!--end of lines-->
            <path d="M91.1 174.1c2.8 8 5.2 19.3 6.1 25.1 0.3 1.7 1.2 11.2 1.2 11.2s-5.1 12.3-6.2 15.7c-1.1 3.5-2.6 9.9-1.5 15 1.1 5.1 2.7 13.8 2.2 16.9 -0.6 3.1-3 17.6-3.8 19.9 -0.8 2.3-2.1 6.1-1.4 7.9 0.7 1.8 0.3 3.9 4.5 3.6s8.6-1.7 11-0.7 4.3 2.5 7.2 2.5c2.8 0.1 12.9-0.4 14.1-0.6 1.1-0.2 1.5-3.1-0.8-4.1s-5.2-0.4-7.5-1.4 -10.8-8.3-10.8-9.8 7-23.5 8-26.3c1-2.8 5.8-34 5.5-37.3 -0.4-3.3-1.4-12.7-0.6-15.2 0.8-2.4 9.6-25.2 1.6-49 -0.2-0.5-0.6-2.1-0.8-2.6" />
            <path d="M54.6 143.2c-3.8 11.5-6.7 30.7-5.8 39.1 0.6 5.4 4.1 29.5-0.7 34.2 -10 9.9-6.5 54.6-7.4 56.7 -0.8 2.1-3 8.5-8 10.7s-10.2 4-10.2 4.9c0 0.9-1.8 3.3 2.6 3.1 4.4-0.2 12.9-2 15.8-2s11.9 0.7 12.1-2.4c0.2-3-2.5-5.7-1.5-8.1 1-2.5 3.7-17.9 12.1-28.9 6.2-8.1 3.8-19.8 3.4-23.6 -0.4-3.8-1-8.7-1-9s2.8-2.3 4.9-5.4c2.1-3.1 8-14.8 9.5-22 0.6-2.8 1.7-12.8 2.3-16.3" />
            <path d="M56.7 137.4c-0.1-0.1 3.2 1.7 6.1 2" />
            <path d="M115.8 136.4c0 0-2.3 1.6-6.1 2" />
            <path d="M56 139.8c0 0 17.1 31.1 30.2 30.8 13.2-0.3 31.5-29.8 31.5-29.8" />
          </g>
          <!--end of back legs-->
          <!--start back-->
          <g class="st0" (mouseenter)="hoverClasses['back'] = true" (mouseleave)="hoverClasses['back'] = false" (click)="setHealth('back')"
            [ngStyle]="{ 'stroke': getHealthColor('back')}" matTooltip="back" matTooltipPosition="above">>
            <!--start of lines-->
            <path d="M75 70.2c0 0-5.9 9.8-13.2 8.9" />
            <path d="M92.7 68.2c0 0 4.3 9.1 13.9 9.7" />
            <line x1="84.6" y1="70.5" x2="86.3" y2="114.7" />

            <!--end of lines-->

            <line x1="57.8" y1="133.3" x2="115.1" y2="132.5" />
            <path d="M114.4 128.3c-0.2-1.9-0.1-9.8 0.1-11.4 0.9-8.6 3.9-18.6 5.1-22.4 0.6-1.7 1.9-4.9 3.2-8.6 0 0 4.8-11.3 4.7-14.3 0-1.4 0.5-3.1 0.6-4" />
            <path d="M117.6 140.8c-1.2-4-1.6-2.7-2.5-8.1" />
            <path d="M57.8 133.3c-0.3 2.2-0.7 2.2-1.8 6.7" />
            <path d="M58.7 128.3c1-10.5-2.4-26.9-4-29.9 -0.8-1.5-2.7-8-5.7-13.6 -2.3-4.3-6.6-16.1-7.8-18.3" />
            <rect x="62" y="60" width="50" height="65" fill="transparent" stroke="none" />
          </g>
          <!--end of back-->

          <!--start shoulders-->
          <g class="st0" (mouseenter)="hoverClasses['shoulders'] = true" (mouseleave)="hoverClasses['shoulders'] = false"
            (click)="setHealth('shoulders')" [ngStyle]="{ 'stroke': getHealthColor('shoulders')}" matTooltip="shoulders">
            <path class="st1" [ngStyle]="{ 'fill': getHealthColor('shoulders')}" d="M100.8 25.4c0 0-1 15.9-12.1 15.9 -11.1 0-12.1-5.2-15.2-15.8 -2.2-7.3 0-17.3 12.5-17.3C104.6 8.3 100.8 25.4 100.8 25.4z" />
            <path d="M71.9 48.9c1.6-1.1 2.3-3.3 2.8-4.6 0.7-1.8 1.3-8.7 1.3-8.7s-1.3 0.1-1.6-0.2c-3-2.5-3.4-9.3-2.9-10.2 0.3-0.5 2.3-0.7 2.6-0.7 0-0.4 0-1.9 0.5-7.4 0.8-9 10.3-8.9 16.9-8.4 6.6 0.5 8.2 5.1 9.8 8 1.6 2.8-0.5 9.4-0.5 9.4s1.4 0.5 1.6 0.9 -0.6 5.6-1.4 7.3c-0.7 1.7-2.7 1.8-2.7 1.8S97.2 40 97 41.3c-0.2 1.2-0.7 5.4 0.5 8" />
            <path d="M100.6 51.1c2.3-0.1 5-1.3 6.8-2.3 2.5-1.5 11.6-7.8 18.9-3.8" />
            <path d="M49.1 45.1c11.5-3.3 16.2 3.4 19.1 4.2" />
            <path d="M74.1 23.2c0 0-0.7-8.9 1.7-9.5 2.4-0.6 6.9 1.6 10.4 1.7 1.9 0.1 12.4-1.3 12.4-1.3s3 3.9 3.1 6.5 -0.9 5.6-0.9 5.6 1.7-5.9 0.5-9.4 -4.2-8.3-12.8-8.1c-8.6 0.1-10 1.9-11.8 3.4S73.6 14.9 74.1 23.2z" />
          </g>
          <!--end of shoulders-->
          <!--start triceps-->
          <g class="st0" (mouseenter)="hoverClasses['triceps'] = true" (mouseleave)="hoverClasses['triceps'] = false"
            (click)="setHealth('triceps')" [ngStyle]="{ 'stroke': getHealthColor('triceps')}" matTooltip="triceps">

            <!--start of lines-->

            <path d="M42.8 51.7c0 0-8.5-9-22.6-4.2" />
            <path d="M154.8 45.1c0 0-17.9-1.4-21.4 9.4" />
            <path d="M159.1 23.8c0 0 4.5 5.1 4.6 10.9" />
            <path d="M14.3 23.8c0 0-5.3 5.1-5.2 10.9" />

            <!--end of lines-->

            <path d="M36.9 64.8c-3.1-0.3-10.9-2.2-15.9-4.7C16.1 57.7 10 49.1 5.2 46.7c-4.8-2.3-2.4-3.1-3.8-7.4C0 35 18.7 6.6 26.2 2.2c6-3.6 20.2 3.4 20.2 3.4 2.9 1.6 3.9 7.4 2.4 9.5 -1.5 2.1-8 1-8.6 0.9 -0.6-0.1-0.8-1.8-0.8-1.8s-3.5-0.1-5.1-0.6c-1.6-0.5-1.9-1.6-3.2-2.7 -1.3-1-1.8-0.6-2.8 1.4 -1 2-1.9 7.5-2 12.6C26.2 30.1 20.9 38 20.9 38s0 0 0.4 0.8c0.4 0.8 2.4 0.8 4.1 0.6 1.7-0.2 6.2-1.7 9.8-1.6 3.6 0.2 5.9 2.3 10.1 5.7" />
            <path d="M129.5 44.5c7.1-9.3 14.5-6.5 19.6-5.6 -1.3-7.4 0.5-15.2 0.5-15.2s-0.9-2-2.6-5.2c-1.1-2.3-1.1-4.1-2.5-4.1 -2.5 0.1-4.8-0.3-8.5 0 -0.3 0-0.2 1.4-0.5 1.4 -1.4 0.1-1.9-0.3-2.2-0.2 -2.3 0.2-5.9-7.8-3-9.7 3.9-2.7 8.4-4.5 14.9-3.4 6.8 1.2 8 1.1 8.9 4.5 0.9 3.5 5.1 8.6 12.2 20.7 7.1 12.2 5.1 18 1.3 19.7 -3.8 1.6-13.1 10.9-17.8 14.2 -4.7 3.3-10.4 2.5-15.5 3.1 -1.3 0.1-2.3 0.2-3.2 0.2" />
          </g>
          <!--end of triceps-->
        </g>
      </svg>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- here the woman will be-->
  </div>


</div>