<div class="container">
  <div class="not-active" *ngIf="!activateBuild">Please fill your personal details before you build your program</div>
  <div class="not-active" *ngIf="activateBuild">
    This page is in work stay tune
  </div>
</div>