@import "src/app/common";
.heading {
  display: flex;
  justify-content: space-between; // horizontally space between buttons and info icon
  align-items: center; // vertically
  .buttons {
    .users-count {
      margin: 0;
      font-size: 20px;
    }
  }
  sh-info {
    padding-right: 18px;
    align-self: flex-end;
    margin-bottom: 20px;
  }
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $light-gray;
  padding: 10px 0;
  span {
    padding-left: 16px;
    font-family: $primary-font;
  }
}
:host ::ng-deep .mat-expansion-panel-header {
  padding-left: 20px;
}
:host ::ng-deep .mat-expansion-panel-header-title {
  text-transform: capitalize;
  font-family: $primary-font;
  font-size: 1.2em;
}