<div class="heading">
  <div class="buttons">
    <p class="users-count" *ngIf="users?.length; else empty">Total users: {{users.length}}
    </p>
    <ng-template #empty>
      <p class="users-count">User list is empty</p>
    </ng-template>

    <sh-fa-input *ngIf="users?.length">
      <input inputRef type="text" placeholder="find user by name" pattern="^[\w]+$" name="name" [(ngModel)]="filterBy"
        matTooltip="ex: Adrian" matTooltipPosition="above" (input)="updateFilter()">
    </sh-fa-input>
  </div>
  <sh-info [message]="info"></sh-info>
</div>
<!-- filtered users -->
<mat-accordion *ngIf="users?.length">
  <ng-container *ngIf="filtered.length > 0">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{filterBy}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let user of filtered" class="container">
        <span>{{user.userName}}</span>
        <div class="buttons">
          <sh-lbutton label="Delete" (click)="removeUser(user.userName)"></sh-lbutton>
          <user-update [user]="user" (editUsEvent)="editUser($event)"></user-update>
        </div>
      </div>
    </mat-expansion-panel>
  </ng-container>
  <!-- all users -->
  <mat-expansion-panel *ngFor="let grp of groupList" (click)="setExpanded(grp)" [expanded]="expanded[grp]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{grp}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let user of userShow[grp]" class="container">
      <span>{{user.userName}}</span>
      <div class="buttons">
        <sh-lbutton label="Delete" (click)="removeUser(user.userName)"></sh-lbutton>
        <user-update [user]="user" (editUsEvent)="editUser($event)"></user-update>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>