@import "src/app/common";
:host {
  // border around the text and the icon
  border-width: 1px;
  border-style: solid;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  margin: $form-margin 0;
}
:host(.focus) ::ng-deep input {
    box-shadow: 0 0 0 1000px $primary-bg-color inset !important;
    &:hover {
      box-shadow: 0 0 0 1000px $primary-bg-color inset !important;
    }
    &:focus {
      box-shadow: 0 0 0 1000px $primary-bg-color inset, 0 0 3px $primary-bg-color !important;
      border-color: $primary-color !important;
    }
  }
:host(.focus) ::ng-deep input {
  outline: none;
}
// style the projected input and remove the double border
:host ::ng-deep input {
  border: none;
  outline: none;
  padding-left: 7px;
  width: calc(100% - 20px); // width of the icon
}
.icon {
  width: 20px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}