// the whole element in its father
:host {
    background: $primary-bg-color;
    border-color: $middle-gray; // #d3d3d3;
}
:host(.focus) {
    border-color: $primary-color;
    box-shadow: 0 0 3px $primary-color; // #4d90fe;
}