<p-growl life="4000"></p-growl>
<!-- routing spinner -->
<mat-spinner class="spinner" *ngIf="loading">
</mat-spinner>
<!-- site content -->
<div>
  <router-outlet></router-outlet>
</div>
<!-- footer -->
<app-footer></app-footer>