@import "src/app/common";
:host {
  display: flex;
  flex-direction: column; //border: 2px solid blue;
  min-height: calc(100vh + #{$footer-height}); // the minimum height is the size of the screen
  background-color: $primary-bg-color;
  background-image: linear-gradient( to top, rgba( 0, 0, 0, 0) 80%, rgba( 0, 0, 0, 0.9)), url("../assets/images/cover.jpg");
  background-size: cover;
  background-attachment: fixed;
}
// in case the content is less than screen size,
// make the footer on the screen bottom amd stretch the content to fill
// the empty space (before the footer) on the screen
div {
  flex-grow: 1;
  display: flex;
}
//////////////////////////////////////////////////////////////////////////////////
// messages
//////////////////////////////////////////////////////////////////////////////////
::ng-deep .ui-growl {
  // positioning
  //z-index: 9999;
  .ui-growl-item-container {
    background-color: $primary-color;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.8;
  }
  .ui-growl-icon-close {
    cursor: pointer;
    color: white;
    top: 1px;
    display: none;
  }
  span.ui-growl-image {
    opacity: 0;
  }
  .ui-growl-title {
    font: 28px $form-font;
    text-align: center;
    display: none;
  }
  .ui-growl-message {
    margin-left: 0;
    p {
      font: 20px $message-font;
      letter-spacing: -1px;
      color: white;
      text-align: center;
    }
  }
} 
//////////////////////////////////////////////////////////////////////////////////
// spinner
//////////////////////////////////////////////////////////////////////////////////
mat-spinner.spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  display: flex;
  align-content: center;
  align-items: center;
  z-index: 1000; // always on top if presents
  ::ng-deep circle {
    stroke: $primary-color; // circle color
  }
}