<div class="wrapper">

  <sh-nav class="nav" [navLinks]="navLinks" [linkColor]="linkColor">
    <user-logout class="wide"></user-logout>
    <user-logout class="small"></user-logout>
  </sh-nav>

  <div class="container" [@slideInAnimation]="getAnimationDirection()" [ngStyle]="{'padding': padding, 'max-width': maxWidth}">
    <router-outlet></router-outlet>
  </div>
</div>