@import "src/app/common";
:host {
  // background-color: $primary-bg-color;
  width: 100%;
  // border: 5px solid white;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: calc(20px + #{$header-height});
  margin-bottom: $header-height;
  height: calc(100% - #{$header-height} * 2 - 20px); 
  // border: 2px solid red;
  
  .nav {
    // background-color: $primary-bg-color;
    // background-color: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient( to top, rgba( 0, 0, 0, 0) 50%, rgba( 0, 0, 0, 0.7));
    background-size: cover;
    background-attachment: fixed;
    ::ng-deep user-logout .mat-tab-link {
      color: rgba(257, 257, 257, .87);
    }
  }
  .container {
    @extend %back-area; 
    width: 80%;
    margin: 0 auto;
    @include for-size(phone-only) {
      width: 90%;
    } 

    // min-height: calc(100vh - #{$back-area-top-margin} - #{$back-area-bottom-margin});
    // margin-top: calc(#{$header-height} + 50px);

    // @include for-size(phone-only) {
    //   min-height: calc(100vh - #{$back-area-top-margin-small} - #{$back-area-bottom-margin-small});
    // }
    // background-color: $primary-bg-color;
    // border: 2px solid red;
  }
}
