<div class="content" [ngStyle]="{'margin': marginTop}">
  <h1>About Refit</h1>
  <mat-icon class="go-home" (click)="goBack()">close</mat-icon>
  <p>
    The site will be used by trainees in the gym to build a personal fitness program and monitor their progress. Based
    on our
    professional experience in fitness and sports, we found that there is room to build a new, comfortable and
    efficient
    system that can be customized.</p>
  <p>The goal of the system is to improve the training experience of the trainee in the gym and increase the
    effectiveness of
    training.
  </p>
  <p>The target audience is people who practice in the gym and people who are interested in maintaining a healthy and
    athletic
    lifestyle.
  </p>
  <p>This is for users that are the trainees who wish to build a personal training program and keep track of their
    progress.</p>
</div>