
@import "src/app/common";
:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    @extend %center-h-v;
    flex-direction: column;
    cursor: pointer;
}
h1 {
    @extend %h1;
    i {
        color: $primary-color;
    }
}

