@import "../_common.scss";
//////////////////////////////////////////////////////////////////////////////////
// component position 
//////////////////////////////////////////////////////////////////////////////////
:host {
  position: fixed; // always on top of the screen
  top: 0;
  left: 0px;
  right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between; // make logo on the left and menu on the right
  align-items: center;
  z-index: 999; // always on top
  background-color: $primary-bg-color;
  height: $header-height;
  @include for-size(tablet-portrait-less) {
    height: $header-height-small;
  }
  background-color: $light-gray;
  box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
}
//////////////////////////////////////////////////////////////////////////////////
// small device menu with burger for side menu
//////////////////////////////////////////////////////////////////////////////////
:host ::ng-deep {
  @include for-size(tablet-portrait-less) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .mat-tab-nav-bar {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .mat-tab-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .logo {
      display: flex;
      justify-content: center;
    }
    .main {
      display: flex;
      justify-content: space-between;
    }
  }
  .menu {
    justify-self: flex-start;
  }
  @include for-size(tablet-portrait-less) {
    left: 0;
    right: 0;
  }
  .mat-tab-link {
    @include for-size(phone-only) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}