<a class="logo" [routerLink]="navLinks[0].route" *ngIf="!showBurger">
  <sh-logo></sh-logo>
</a>
<nav mat-tab-nav-bar>
  <a class="logo" [routerLink]="navLinks[0].route" *ngIf="showBurger">
    <sh-logo></sh-logo>
  </a>
  <div class="main">
    <a mat-tab-link class="main-nav">
      <i class="material-icons menu" *ngIf="showBurger" (click)="menuClick()">
        menu
      </i>
    </a>
    <a class="main-nav" mat-tab-link *ngFor="let link of navLinks; let i = index;" [routerLink]="link.route"
      routerLinkActive #rla="routerLinkActive" [active]="activeLinkIndex === i" (click)="setActiveClass(i)"
      [routerLinkActiveOptions]="{exact: true}" [ngClass]="setActiveClass(i)" [ngStyle]="{'color': linkColor}">
      {{link.label}}
    </a>
    <ng-content></ng-content>
  </div>
</nav>