@import "src/app/common";
:host {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $side-content-max-width;
  margin: 0 auto;
  .buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .prev {
      margin-right: auto;
    }
    .arrow {
      width: 20px;
      height: 20px;
      margin-bottom: -20px;
      outline: none;
      cursor: pointer;
      z-index: 100;
      &:hover {
        opacity: 0.7;
      }
      &.not-valid {
        opacity: 1;
        cursor: initial;
      }
    }
  }
  h1 {
    @extend %h1;
  }
  ::ng-deep .ui-steps {
    &::before {
      border-color: $primary-color !important;
      width: 99%;
    }
    ul {
      display: flex;
      justify-content: space-between;
      a span.ui-steps-number:hover {
        background-color: #fff;
      }
      .ui-menuitem-link {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
      .ui-steps-item:first-of-type .ui-menuitem-link {
        text-align: left;
      }
      .ui-steps-item:last-of-type .ui-menuitem-link {
        text-align: right;
      }
      .ui-steps-number {
        border-color: #000;
      }
      .ui-steps-title {
        font-family: $primary-font;
        font-size: 16px;
      }
      .ui-steps-item.ui-state-highlight {
        a span.ui-steps-number {
          background-color: $primary-color;
          border-color: $primary-color;
        }
      }
      .ui-state-disabled .ui-steps-number {
        color: $middle-gray;
        border-color: $middle-gray;
        &:hover {
          color: $middle-gray;
          border-color: $middle-gray;
        }
      }
    }
  }
}
