<div class="container">
  <div class="buttons">
    <input type="image" class="arrow prev not-valid" src="assets/images/arrow-left.svg" *ngIf="activeIndex === 0">
    <input type="image" class="arrow prev" src="assets/images/arrow-left-valid.svg" *ngIf="activeIndex > 0" (click)="nextStep(-1)">
    <input type="image" class="arrow next not-valid" src="assets/images/arrow-right.svg" *ngIf="activeIndex === 3 || activeIndex !== 3 && !checkValid()"
      matTooltip="complete the form" matTooltipPosition="above" [matTooltipDisabled]="activeIndex === 3">
    <input type="image" class="arrow next" src="assets/images/arrow-right-valid.svg" *ngIf="activeIndex !== 3 && checkValid()"
      (click)="nextStep(1)">
  </div>
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
  <div *ngIf="activeIndex === 0">
    <!-- Here Come The Personal Details -->
    <trainee-show-details (validTrainee)="setValid()"></trainee-show-details>
    <!--Tania-->
  </div>
  <div *ngIf="activeIndex === 1">
    <!-- Here Come The Health condition -->
    <trainee-health-condition (validTrainee)="setValid()"></trainee-health-condition>
  </div>
  <div *ngIf="activeIndex === 2">
    <!-- Here Come The Goal Component -->
    <trainee-goal-select (validTrainee)="setValid()"></trainee-goal-select>
  </div>
  <div *ngIf="activeIndex === 3">
    <!-- here come the ConfirmProgram Component -->
    <trainee-chart></trainee-chart>
  </div>
</div>