<div class="register-form">
  <mat-icon class="go-home" (click)="goBack()" matTooltip="close" matTooltipPosition="left">close</mat-icon>
  <h1>{{addUpdate}} Bug</h1>
  <ng-content></ng-content>
  <form novalidate (ngSubmit)="onSubmit(updateBug)" #updateBug="ngForm" autocomplete="off">
    <!-- <form novalidate  #updateBug="ngForm" autocomplete="off"> -->
    <div class="box">
      <!--  inputLabel="Publisher" inputId="publisher">
        <input inputRef type="text" id="publisher" [(ngModel)]="userName" name="publisher" #ownerVar="ngModel" required matTooltip="who reported this bug"
          matTooltipPosition="above" readonly>
      </sh-label-input> -->
      <p>Published by
        <span>{{bug.userName}}</span>
      </p>
      <div class="fields">
        <sh-label-input inputLabel="Bug Name *" inputId="bug-name">
          <input required inputRef type="text" id="bug-name" [(ngModel)]="bug.bugName" name="bug-name" #bugNameVar="ngModel"
            required [readonly]="bugNameReadOnly" matTooltip="bug name" matTooltipPosition="above">
        </sh-label-input>

        <sh-label-input inputLabel="Owner *" inputId="owner">
          <input inputRef type="text" id="owner" [(ngModel)]="bug.owner" name="owner" #ownerVar="ngModel" required
            matTooltip="who is responsible to solve this bug" matTooltipPosition="above">
        </sh-label-input>

        <sh-label-input inputLabel="Priority *" inputId="priority">
          <select id="priority" required [(ngModel)]="bug.priority" name="priority">
            <option *ngFor="let p of priorityList" [value]="p"> {{p}}
            </option>
          </select>
        </sh-label-input>

        <sh-label-input inputLabel="Status *" inputId="status">
          <select id="status" required [(ngModel)]="bug.status" name="status">
            <option *ngFor="let s of ['pending', 'in work', 'completed']" [value]="s"> {{s}}
            </option>
          </select>
        </sh-label-input>

        <sh-label-input inputLabel="Module *" inputId="module">
          <input inputRef type="text" id="module" [(ngModel)]="bug.moduleName" name="module" #moduleVar="ngModel"
            required matTooltip="module the bug belongs to" matTooltipPosition="above">
        </sh-label-input>


        <sh-label-input inputLabel="Component" inputId="component">
          <input inputRef type="text" id="component" [(ngModel)]="bug.component" name="component" #componentVar="ngModel"
            matTooltip="component the bug belongs to" matTooltipPosition="above">
        </sh-label-input>

        <sh-label-input inputLabel="Description *" inputId="info" [rtl]="rtl" class="full-width">
          <textarea inputRef id="info" [(ngModel)]="bug.info" name="info" matTooltip="bug description"
            matTooltipPosition="above" required>
          </textarea>
        </sh-label-input>

        <div class="checkbox">
          <label>
            <mat-checkbox (change)="changeRtl()">
              Description right to left
            </mat-checkbox>
          </label>
        </div>
      </div>

    </div>
    <!-- div is workaround to show tooltip on disabled button -->
    <div style="display: inline-block" matTooltip="complete the form" matTooltipPosition="above" [matTooltipDisabled]="updateBug.form.valid">
      <button pButton type="submit" [disabled]="updateBug.form.invalid" label="Submit" matTooltip="complete the form"
        matTooltipPosition="above" [matTooltipDisabled]="updateBug.form.valid"></button>
    </div>

    <button pButton type="button" label="Clear" matTooltip="clear the form" matTooltipPosition="above" (click)="clearForm()"></button>

  </form>
</div>