@import "src/app/common";
.register-form {
  @extend %form; // defined in src/_common.scss
  max-width: 1000px;
  width: 100%;
  p {
    margin-bottom: 20px;
    span {
      font-size: 1.4em;
    }
  }
  .fields {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr [last-col] 1fr;
    grid-column-gap: 20px;
    @include for-size(tablet-portrait-less) {
      grid-template-columns: [last-col] 1fr;
      grid-column-gap: 0;
    }
    .full-width {
      grid-column: 1 / -1;
      /* span full row */
    }
    .checkbox {
      grid-column: last-col;
      justify-self: end;
    }
  }
  input,
  select,
  textarea {
    margin: 0;
    @include for-size(tablet-portrait-less) {
      width: 100%;
    }
  }

}
