<div class="register-form">
  <form #updateTrainee="ngForm" novalidate autocomplete="off">
    <div class="box">
      <div class="fields">
        <sh-label-input inputLabel="First Name *" inputId="fName">
          <input inputRef type="text" id="fName" pattern="^[a-z, A-Z]+$" [(ngModel)]="trainee.fname" name="fName"
            #fNameVar="ngModel" required matTooltip="letters only" matTooltipPosition="above">
          <div [hidden]="fNameVar.valid || fNameVar.pristine" class="error">
            ex: Adrian
          </div>
        </sh-label-input>
        <sh-label-input inputLabel="Last Name *" inputId="lName">
          <input required inputRef type="text" id="lName" pattern="^[a-z, A-Z]+$" [(ngModel)]="trainee.lname" name="lName"
            #lNameVar="ngModel" required>
          <div [hidden]="lNameVar.valid || lNameVar.pristine" class="error">
            ex: Goldstein
          </div>
        </sh-label-input>
        <div class="date">
          <sh-label-input inputLabel="Date of Birth *" inputId="age">
            <input inputRef matInput [matDatepicker]="picker" [(ngModel)]="trainee.age" name="age" required readonly
              placeholder="pick a date">
          </sh-label-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </div>
        <sh-label-input inputLabel="Gender *" inputId="gender">
          <select id="gender" required [(ngModel)]="trainee.gender" name="gender">
            <option *ngFor="let g of genderType" [ngValue]="g" [selected]="g === trainee.gender"> {{g}}
            </option>
          </select>
        </sh-label-input>
        <sh-label-input inputLabel="Height *" inputId="height">
          <sh-number-input id="height" [min]="hlimits[0]" [max]="hlimits[1]" precision="2" step="0.1" [tip]="hlimitsStr"
            [inNumber]="trainee.height" (changedVal)="changeHeight($event)">
          </sh-number-input>
        </sh-label-input>
        <sh-label-input inputLabel="Weight *" inputId="weight">
          <sh-number-input id="weight" [min]="wlimits[0]" [max]="wlimits[1]" precision="0" step="1" [tip]="wlimitsStr"
            [inNumber]="trainee.weight" (changedVal)="changeWeight($event)">
          </sh-number-input>
        </sh-label-input>
        <!-- Activity Status -->
        <div class="status"><span>Activity *</span>
          <mat-radio-group [(ngModel)]="trainee.status" name="status">
            <mat-radio-button labelPosition="before" *ngFor="let s of statusType" [value]="s[1]" (change)="changeStatus($event)">
              {{s[0]}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <!-- Workdays -->
        <div class="days"><span>Working days</span>
          <sh-days [activeDays]="workDays" (dayChange)="changeDays($event)"></sh-days>
        </div>
      </div>
    </div>
    <!-- this block appears in case of form error -->
    <div *ngIf="formError" class="error">
      {{ formError }}
    </div>
    <!-- submit -->
    <!-- div is workaround to show tooltip on disabled button -->
    <div style="display: inline-block" matTooltip="complete the form" matTooltipPosition="above" [matTooltipDisabled]="updateTrainee.form.valid && validForm">
      <button pButton type="button" [disabled]="updateTrainee.form.invalid || !validForm" label="Submit" (click)="onSubmit(updateTrainee)"></button>
    </div>
  </form>
</div>