@import "../common";
.register-form {
  @extend %form; // defined in src/_common.scss
  max-width: $side-content-max-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  .box {
    padding: 40px;
  }
  .fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    @include for-size(tablet-portrait-less) {
      // fields for mobile
      grid-template-columns: 1fr;
    }
    select {
      margin: 0;
    }
    .status {
      margin-top: 20px;
      grid-column: span 2;
      @include for-size(tablet-portrait-less) {
        grid-column: span 1;
      }
      span {
        display: block;
        font-family: $form-font;
        // border-bottom: 1px solid $middle-gray;
        text-align: center;
        padding-bottom: 5px;
      }
      ::ng-deep mat-radio-group {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        border-top: 1px solid $middle-gray;
        border-bottom: 1px solid $middle-gray;
        mat-radio-button:not(:last-of-type) .mat-radio-label {
          margin-right: 40px;
          @include for-size(tablet-portrait-less) {
            margin-right: 0;
          }
        }
        @include for-size(tablet-portrait-less) {
          display: grid;
          grid-template-columns: 1;
          mat-radio-button .mat-radio-label {
            margin-right: 0;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
          }
        }
        .mat-radio-outer-circle {
          border-color: $primary-color;
        }
        .mat-radio-inner-circle {
          background-color: $primary-color;
        }
      }
    }
    .days {
      margin-top: 40px;
      grid-column: span 2;
      @include for-size(tablet-portrait-less) {
        grid-column: span 1;
      }
      span {
        display: block;
        font-family: $form-font;
        border-bottom: 1px solid $middle-gray;
        text-align: center;
        padding-bottom: 5px;
      }
    }
  }
  .date {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    mat-datepicker-toggle {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      align-self: center;
      justify-self: end;
      margin-right: -5px; // push button icon to the right in the grid cell
      @include for-size(tablet-portrait-less) {
        transform: translate(0, -50%) translate(0, 8px);
      }
    }
    mat-datepicker {
      // will not take part of the grid
      position: absolute;
    }
  }
  // not in use!!
  mat-slider {
    width: 100%;
  }
  // mat-slider green color - if used, has to be in common.scss
  ::ng-deep .mat-accent .mat-slider-thumb {
    background-color: $primary-color;
  }
  ::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: $primary-color;
  }
  ::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: $primary-color;
  }
  sh-label-input {
    position: relative;
    width: 100%;
    .error {
      position: absolute;
      top: 100%;
      font-family: $form-font;
      font-style: italic;
      left: 137px; // width of label + box left padding (make with var later)
      @include for-size(tablet-portrait-less) {
        left: 7px; // same same - box left padding
      }
    }
  }
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 0;
  margin: 0;
}