<h1>Exercises</h1>

<div class="heading">
  <button pButton label="Add Exercise" [routerLink]="['./add-ex']"></button>
  <!-- <sh-info [message]="info"></sh-info> -->
  <!--example to change the icon-->
  <!-- <sh-info [message]="info" icon="sticky-note-o" size="20"></sh-info> -->

</div>
<ex-list [exercises]="exercises" [info]="info" (editExEvent)="editEx($event)" (removeExEvent)="openConfirmationDialog($event)"></ex-list>