@import "src/app/common";

:host{
    width: 100%;
}

h1{
    @extend %h1;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    sh-info {
        padding-right: 18px;

    }
}
