<div class="register-form" [ngStyle]="{'margin': marginTop}">
  <mat-icon class="go-home" (click)="goBack()">close</mat-icon>
  <h1>Contact Us</h1>
  <form #contUs="ngForm" (ngSubmit)="onSubmit(contUs)" novalidate autocomplete="off">
    <p>
      Feel free to tell your opinion about our site
    </p>
    <div class="name">
      <sh-fa-input icon="user">
        <input inputRef type="name" placeholder="Your Name" pattern="^[\w]+$" name="name" [(ngModel)]="name" required
          matTooltip="ex: Adrian Rains" matTooltipPosition="above">
      </sh-fa-input>
      <sh-fa-input icon="envelope">
        <input inputRef type="email" placeholder="Your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          [(ngModel)]="email" name="Email" #emailVar="ngModel" required matTooltip="ex: adrian@gmail.com"
          matTooltipPosition="above">
      </sh-fa-input>
    </div>
    <div [hidden]="emailVar.valid || emailVar.pristine" class="error">
      ex: adrian@gmail.com
    </div>
    <textarea [(ngModel)]="message" name="message" matTooltip="Your Message" matTooltipPosition="above" required>
    </textarea>
    <!-- this block appears in case of form error -->
    <div *ngIf="formError" class="error">
      {{ formError }}
    </div>
    <!-- div is workaround to show tooltip on disabled button -->
    <div style="display: inline-block" matTooltip="complete the form" matTooltipPosition="above" [matTooltipDisabled]="contUs.form.valid">
      <button pButton type="submit" [disabled]="contUs.form.invalid" label="Send" matTooltip="complete the form"
        matTooltipPosition="above" [matTooltipDisabled]="contUs.form.valid">
      </button>
    </div>
  </form>
</div>