@import "src/app/common";
:host {
  @extend %center-h-v;
  width: 100%;  
}
.register-form {
  @extend %back-area;
  @extend %form; // defined in src/_common.scss
  max-width: 600px;
  min-width: 600px;
  @include for-size(phone-only) {
    min-width: 300px;
  }
  .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    sh-fa-input {
      width: 48%;
    }
    @include for-size(phone-only) {
      flex-direction: column;
      sh-fa-input {
        width: 100%;
      }
    }
  }
}
