// You can add global styles to this file, and also import other style files 
// for _common.scss in the path folder for sass global file 
// @import "path/common";
// important for element sizes (if bootstrap is not added)
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "src/app/common";
// If you move from one page of a site without a scrollbar to another with a scrollbar, 
// you'll see a slight layout shift as things squeeze inward a bit to make room 
// for the scrollbar.
// the following fixes it
// html {
//   margin-left: calc(100vw - 100%);
// }

//////////////////////////////////////////////////////////////////////////////////
// fixes
//////////////////////////////////////////////////////////////////////////////////
// fix (remove) autocomplete yellow box on input boxes
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  &:hover,
  &:focus {
    box-shadow: 0 0 0 1000px white inset;
  }
} 

//////////////////////////////////////////////////////////////////////////////////
// scrollbar
//////////////////////////////////////////////////////////////////////////////////
::-webkit-scrollbar {
  width: $scroll-bar-width;
  height: $scroll-bar-width;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darken($middle-gray, 20%);
  border-radius: 10px;
  outline: 2px solid slategrey;
}

::-webkit-scrollbar-thumb:active {
  background-color: darken($middle-gray, 40%);;
}

