<div class="wrapper">
  <sh-home-nav class="nav" [navLinks]="navLinks" (menuClicked)="menuClicked()">
    <user-logout></user-logout>
  </sh-home-nav>
  <!-- <div class="container" [@slideInAnimation]="getAnimationDirection()">
  <router-outlet></router-outlet>
</div> -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>