@import "src/app/common";
:host {
  background-color: $primary-bg-color;
  background-image: url("../../assets/images/cover.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.wrapper {
  display: flex;
  width: 100%;
  margin-top: $header-height;
  min-height: calc(100% - #{$header-height});
  @include for-size(tablet-portrait-less) {
    margin-top: $header-height-small;
    min-height: calc(100% - #{$header-height-small});
  }
  .nav {
    background-color: $primary-bg-color;
  }
  .container {
    width: 100%;
    display: flex;
    z-index: 998;    
  }
}
