@import "src/app/common";
//////////////////////////////////////////////////////////////////////////////////
// navigation common
//////////////////////////////////////////////////////////////////////////////////
// /* label style */
.mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: none;
  height: 100%;
  display: flex;
  align-items: center;
}
// label style 
::ng-deep a.mat-tab-link {
  font-family: $nav-font;
  font-size: 17px; // text-transform: uppercase;
  min-width: 0px; // link minimal width
  text-decoration: none; // remove underline on hover
  // pressed
  &:active {
    color: $primary-color !important;
  }
  .mat-ripple-element {
    background-color: transparent !important;
  }
  * {
    // remove animation while pressing the link
    transition: none !important;
  }
  &:hover {
    opacity: 1;
  }
}
::ng-deep a.main-nav.mat-tab-link {
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 0px; // put more to make ink bar longer
  padding-right: 0px; // put more to make ink bar longer
  @include for-size(phone-only) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
// focus style 
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background-color: transparent;
}
// ink bar style - line below the link
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: $primary-color;
  height: 3px;
}