@import "src/app/common";
:host {
  width: 100%;
  max-width: $side-content-max-width;
  margin: 0 auto;
  font-family: $primary-font;
  line-height: 1.5;
}
h1 {
  @extend %h1;
}
p {
  margin: 0 0 30px;
}
.charts {
  display: flex;
  width: 100%;
  .parts {
    width: 100%;
  }
}