<div class="not-active" *ngIf="!activateProgress">Please build your program and start training to watch your progress</div>
<div class="not-active" *ngIf="activateProgress">
    <h1>Progress</h1>
    <p>
        Welcome to your progress , here you can watch and follow about your progress
        by every each part of your body , by clicking on "My first session"/"My last session" you
        can filter and watch only one of them or watch both of them and watch the progress.
    </p>
    <div class="charts">
        <div class="parts">
            <body-parts></body-parts>
        </div>
    </div>
</div>