<div class="register-form">
  <mat-icon class="go-home" (click)="goHome()">close</mat-icon>
  <h1>Log In</h1>
  <form #signIn="ngForm" (ngSubmit)="onSubmit(signIn)" novalidate autocomplete="off">
    <p>Don't have an account?
      <a [routerLink]="['../sign-up']">
        Sign up
      </a>
    </p>
    <sh-fa-input icon="user">
      <input inputRef type="text" placeholder="Username" pattern="^[\w]+$" [(ngModel)]="user.userName" name="userName"
        #userNameVar="ngModel" required matTooltip="letters and digits only" matTooltipPosition="above">
    </sh-fa-input>
    <!-- pristine - before control value is changed (opposite of dirty) -->
    <div [hidden]="userNameVar.valid || userNameVar.pristine" class="error">
      Letters and digits only
    </div>
    <!-- password -->
    <sh-fa-input icon="lock">
      <input inputRef placeholder="Password" pattern="^[\w]{8,}$" [(ngModel)]="user.password" name="password" #password="ngModel"
        required matTooltip="at least 8 letters/digits" matTooltipPosition="above" [type]="hide ? 'password' : 'text'">
      <i class="fa fa-eye" *ngIf="hide" (click)="hide = !hide"></i>
      <i class="fa fa-eye-slash" *ngIf="!hide" (click)="hide = !hide"></i>
    </sh-fa-input>
    <div [hidden]="password.valid || password.pristine" class="error">
      At least 8 letters/digits
    </div>
    <!-- remember me checkbox -->
    <div class="checkbox">
      <label>
        <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe">Remember Me</mat-checkbox>
      </label>
    </div>
    <!-- this block appears in case of form error -->
    <div *ngIf="formError" class="error">
      {{ formError }}
    </div>
    <!-- submit -->
    <!-- div is workaround to show tooltip on disabled button -->
    <div style="display: inline-block" matTooltip="complete the form" matTooltipPosition="above" [matTooltipDisabled]="signIn.form.valid">
      <button pButton type="submit" [disabled]="signIn.form.invalid" label="Log In">
      </button>
    </div>
  </form>
</div>