@import "src/app/common";
// If you move from one page of a site without a scrollbar to another with a scrollbar, 
// you'll see a slight layout shift as things squeeze inward a bit to make room 
// for the scrollbar.
// the following fixes it for the dialog display
i.fa {
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    opacity: 0.7;
  }
}
::ng-deep sh-dialog  div {
  p,
  ul {
    font-family: $dialog-font;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  ul li {
    margin-left: 24px;
  }
}