<h1 mat-dialog-title>{{header}}</h1>
<div mat-dialog-content>
  <mat-card class="material-card">
    <mat-card-content>
      <div [innerHTML]="data.message"></div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
<div mat-dialog-actions (click)="onNoClick()">
  <button mat-button>Close</button>
</div>