@import "src/app/common";
:host {
  padding: 0 15px;
  margin-top: 30px; // box-shadow: $box-shadow;
  margin-top: 50px;
  display: flex;
  @include for-size(phone-only) {
    flex-direction: column;
  }
}
.text {
  width: 30%;
  margin-right: 50px;
  @include for-size(phone-only) {
    width: 100%;
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p:not(:first-of-type) {
    margin-top: 30px;
  }
  p {
    font-family: $form-font;
    font-size: 16px;
    line-height: 1.5;
  }
  p:last-of-type {
    font-size: 13px;
    @include for-size(phone-only) {
      margin-bottom: 40px;
    }
  }
  .submit {
    align-self: flex-start; // tooltip will be exactly above
  }
}
.goals {
  width: 100%;
  display: flex;
  flex-direction: column;
  .goal {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 2px solid $dark-gray;
    cursor: pointer;
    transition: background-color 0.1s;
    &:last-of-type {
      border-bottom: 2px solid $dark-gray;
    }
    &.highlight {
      border-bottom: 2px solid $primary-color;
      border-top-color: $primary-color;
      &:hover {
        opacity: 0.7;
        background-color: $light-gray;
      }
    }
    &.highlight + .goal {
      border-top-color: transparent;
    }
    &:hover {
      opacity: 0.8;
      background-color: $light-gray;
    }
    // icon
    .img {
      width: 90px;
      margin-right: 20px;
    }
    // icon text
    .goal-text {
      font-family: $header-font;
      font-size: 16px; 
      color: #000;
      opacity: 1;
      &.highlight {
        color: $primary-color;
        font-weight: 500;
        opacity: 1;
      }
      &.normal {
        opacity: 0.7;
      }
    }
    // checkbox
    .checkbox {
      margin-left: auto; // flow to the right
    }
  }
}
.goal:hover {
  ::ng-deep trainee-body-icons {
    .weight .weight-hand {
      animation: weight 1s  infinite;
      transform-origin: bottom;
    }
    .shape {
      animation: shape 2s infinite;
    }
    .health {
      animation: health 2s infinite;
    }
    .power {
      .hand {
        animation: hand 2s infinite;
      }
    }
  }
}
@keyframes weight {
  from {
    transform: rotate(0);
  }
  to {
    transform: scale(1.13) translateY(1px) rotate(-3deg);
  }
}
@keyframes shape {
  0%, 100% {
    transform: skew(0);
  }
  50% {
    transform: skew(10deg);
  }
}
@keyframes health {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes hand {
  0%, 100% {
    transform: skew(0);
  }
  50% {
    transform: skew(10deg);
  }
}