<div class="text">
  <div>
    <p>Please choose your target.</p>
    <p>Press on the target. One target must be selected before submitting.</p>
  </div>
  <!-- submit -->
  <!-- div is workaround to show tooltip on disabled button -->
  <div class="submit" *ngIf="!phone" matTooltip="select your goal" matTooltipPosition="above" [matTooltipDisabled]="validForm">
    <button pButton (click)="onSubmit()" [disabled]="!validForm" label="Submit"></button>
  </div>
</div>
<div class="goals">
  <ng-container *ngFor="let mood of moods; let i = index">
    <div class="goal {{mood.state}}">
      <!-- <img [hidden]="mood.selected" src="assets/images/{{mood.img + '.svg'}}">
      <img [hidden]="!mood.selected" src="assets/images/{{mood.img + '-valid.svg'}}"> -->
      <trainee-body-icons [target]="mood.img" [stroke]="mood.selected ? '#4bbf69' : '#000'" [opacity]="mood.state === 'normal' ? 0.3 : 1"
        class="img"></trainee-body-icons>
      <div class="goal-text {{mood.state}}">
        {{mood.goal}}</div>
      <mat-checkbox class="checkbox" [(ngModel)]="mood.selected" (change)="onChangeSelected(mood)"></mat-checkbox>
    </div>
  </ng-container>
</div>
<div class="submit" *ngIf="phone" style="display: inline-block" matTooltip="select your goal" matTooltipPosition="above"
  [matTooltipDisabled]="validForm">
  <button pButton (click)="onSubmit()" [disabled]="!validForm" label="Submit"></button>
</div>