@import "../common";
:host {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.day {
  width: 60px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
  @include for-size(phone-only) {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    font-size: 0.6rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $header-font;
  font-size: 1.3rem;
  border: 2px solid $primary-color;
  &.active {
    background-color: $primary-color;
    color: #fff;
  }
}