@import "src/app/common";
// the whole element in its father
:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include for-size(phone-only) {
    flex-direction: column;
    align-items: flex-start;
  }
  margin: $form-margin 0;
}
label {
  min-width: 130px;
  padding-right: 10px;
  font-family: $form-font;
  font-size: 16px;
  cursor: pointer;
}
.sh-label-input-container {
  flex-grow: 1;
  @include for-size(phone-only) {
    width: 100%;
  }
}
// style the projected input
:host ::ng-deep input,
:host ::ng-deep textarea,
:host ::ng-deep select {
  background: $primary-bg-color;
  border-color: $middle-gray;
  border-style: solid;
  font-family: $form-font;
}
:host ::ng-deep input,
:host ::ng-deep select,
:host ::ng-deep textarea {
  width: 100%;
  height: 40px;
  padding-left: 7px;
  min-width: 150px;
}
:host ::ng-deep textarea {
  min-height: 200px;
}
:host select,
:host textarea {
  border-width: 2px;
}
:host(.focus) ::ng-deep input,
:host(.focus) ::ng-deep textarea,
:host(.focus) ::ng-deep select,
:host(.focus) ::ng-deep select:active {
  border-color: $primary-color !important;
  box-shadow: 0 0 3px $primary-color !important;
  outline: none;
} 
// fix (remove) autocomplete yellow box on input boxes
:host(.focus) ::ng-deep input {
  box-shadow: 0 0 0 1000px $primary-bg-color inset !important;
  &:hover {
    box-shadow: 0 0 0 1000px $primary-bg-color inset !important;
  }
  &:focus {
    box-shadow: 0 0 0 1000px $primary-bg-color inset, 0 0 3px $primary-color !important;
    border-color: $primary-color !important;
  }
}