@import "src/app/common";
.register-form {
  @extend %form; // defined in src/_common.scss
  max-width: 1000px;
  width: 100%; // .simple-fields {
  .short-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    @include for-size(phone-only) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
    .short-select select {
      min-width: 0;
    }
  }
  .fields {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    @include for-size(tablet-portrait-less) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
    .full-width {
      grid-column: 1 / -1;
      /* span full row */
    }
    #activity {
      min-height: 50px;
    }
  }
  input,
  select,
  textarea {
    margin: 0;
    @include for-size(tablet-portrait-less) {
      width: 100%;
    }
  }
} 
// file uploading styles
::ng-deep p-fileUpload {
  width: 50%;
  align-self: flex-start;
  .ui-file-upload {
    max-width: 200px;
  }
  @include for-size(phone-only) {
    width: 100%;
  }
  .ui-fileupload-buttonbar {
    display: flex;
    justify-content: center;
    button {
      display: none !important;
    }
  }
  .ui-fileupload-content li {
    list-style-type: none !important;
  }
}

