<div class="register-form">
  <mat-icon class="go-home" (click)="goBack()" matTooltip="close" matTooltipPosition="left">close</mat-icon>
  <ng-content></ng-content>
  <form novalidate (ngSubmit)="onSubmit(updateEx)" #updateEx="ngForm" autocomplete="off">
    <div class="box">
      <div class="fields">
        <sh-label-input inputLabel="Exercise Name *" inputId="ex-name">
          <input inputRef type="text" id="ex-name" [(ngModel)]="ex.exerciseName" name="exerciseName" #exerciseNameVar="ngModel"
            required matTooltip="example: squat" matTooltipPosition="above" [readonly]="isEdit">
        </sh-label-input>

        <sh-label-input inputLabel="Exercise Type *" inputId="ex-type">
          <input inputRef type="text" id="ex-type" [(ngModel)]="ex.exerciseType" name="exerciseType" #exerciseTypeVar="ngModel"
            required matTooltip="example: Lower Poly" matTooltipPosition="above">
        </sh-label-input>

        <sh-label-input inputLabel="Video Link" inputId="video">
          <input inputRef type="text" id="video" [(ngModel)]="ex.video" name="video" #videoVar="ngModel" matTooltip="link to video"
            matTooltipPosition="above">
        </sh-label-input>

        <sh-label-input inputLabel="Category *" inputId="priority">
          <select id="category" required [(ngModel)]="ex.category" name="category">
            <option *ngFor="let c of categories" [value]="c"> {{c}}
            </option>
          </select>
        </sh-label-input>

        <sh-label-input class="full-width" inputLabel="Activity Group *" inputId="activity">
          <textarea inputRef id="activity" [(ngModel)]="ex.activityGroup" name="activityGroup" #activityVar="ngModel"
            required matTooltip="example: example: Biceps , Gluteus maximus, (comma is required)" matTooltipPosition="above">
          </textarea>
        </sh-label-input>

      </div>
      <div class="short-fields">
        <sh-label-input class="short-select" inputLabel="Min Level *" inputId="complex-min">
          <select id="complex-min" required [(ngModel)]="ex.complexMin" name="complexMin">
            <option *ngFor="let c of complex" [value]="c"> {{c}}
            </option>
          </select>
        </sh-label-input>
        <sh-label-input class="short-select" inputLabel="Max Level *" inputId="complex-max">
          <select id="compex-max" required [(ngModel)]="ex.complexMax" name="complexMax">
            <option *ngFor="let c of complex" [value]="c"> {{c}}
            </option>
          </select>
        </sh-label-input>

        <sh-label-input class="short-select" inputLabel="Health Level *" inputId="health">
          <select id="health" required [(ngModel)]="ex.health" name="health">
            <option *ngFor="let h of health" [value]="h"> {{h}}
            </option>
          </select>
        </sh-label-input>
      </div>

      <div class="fields">

        <sh-label-input class="full-width" inputLabel="Instructions * " inputId="instructions ">
          <textarea inputRef id="instructions " [(ngModel)]="ex.instructions " name="instructions " #instructionsVar="ngModel"
            required matTooltip="example: exercise works like... " matTooltipPosition="above">
          </textarea>
        </sh-label-input>

        <sh-label-input class="full-width" inputLabel="Mistakes " inputId="mistakes ">
          <textarea inputRef id="mistakes " [(ngModel)]="ex.mistakes " name="mistakes " #mistakesVar="ngModel"
            matTooltip="example: a common mistake is ... " matTooltipPosition="above">
          </textarea>
        </sh-label-input>
      </div>
      <!-- end of flex fields -->

      <!-- file uploading -->
      <!-- <sh-label-input inputLabel="Choose a file or drag and drop it into the area below the Choose button" inputId="file ">
        <p-fileUpload id="file" #fileInput name="pic-upload" url="http://localhost/Refit/php/Core/uploadFile.php"
          (onUpload)="onUpload($event) " (onError)="onError($event)" accept="image/* " maxFileSize="5000000"> -->
          <!-- <ng-template pTemplate="toolbar ">
            <div>Choose a file or drag and drop it into the area below</div>
          </ng-template> -->

          <!-- <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </sh-label-input> -->
    </div>
    <!-- form box -->
    <!-- <p-fileUpload mode="basic " chooseLabel="Picture " name="pic-upload " url="http://localhost/Refit/php/AngularConnection/uploadFile.php
        " accept="image/* " maxFileSize="1000000 " (onUpload)="onUpload($event) "></p-fileUpload> -->

    <!-- div is workaround to show tooltip on disabled button -->
    <div style="display: inline-block" matTooltip="complete the form" matTooltipPosition="above" [matTooltipDisabled]="updateEx.form.valid">
      <button pButton type="submit" [disabled]="updateEx.form.invalid" label="Submit" matTooltip="complete the form"
        matTooltipPosition="above" [matTooltipDisabled]="updateEx.form.valid "></button>
    </div>

    <button pButton type="button" label="Clear" matTooltip="clear the form" matTooltipPosition="above" (click)="clearForm()"></button>

  </form>
</div>